/*.data{
   background: transparent;
   margin: 2px;
   padding: 3px;
   border: 2px ridge #333;
   width: 100%;
}
.data input, .data select{
   border: 2px inset #000;
   padding: 0 2px 0 2px;
   margin-left: 5px;
}
.button2{
   border: 1px outset #2C3797; 
   margin: 0;
   padding: 0;
   background: #566047;
   width: 50px; 
   height: 20px;
   color: #fff;
   font-size: 1.2em;
}

#edit_navbar{
   display: inline;
   list-style-type: none;
   margin-top: 5px;
}
#edit_navbar li{
   display: inline;
   border: 1px solid #3294FA;
}
#edit_navbar li a{
   padding: 1px 5px;
   background: darkgray;
   color: white;
   border: 1px solid black;
   border-width: 1px 1px 0 1px;
   margin: 2px 2px 0 2px;
   text-decoration: none;
   font-weight: bold;
   font-size: x-small;
}
#edit_navbar li a:hover{
   background: #999;
   color: black;
}
.banner2{
   background: #2C3717;
   color: #fff;
   border: 2px ridge #000;
   border-width: 2px 0 2px 0;
   margin: 0;
   font-size: 2.0em;
   padding: 3px;
   text-align: right;
}
.banner a{
   text-align: right;
   color: #fff;
   border: 0;
}
#content{
   height: 100%;
   font-family: "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Verdana, sans-serif;
   float: left;
   padding: 0;
   background: transparent;
}

#picture{
   float: left;
   background: transparent;
   display: block;
   font-size: .8em;
}
#picture img{
   border: 1px solid #000;
}
#server_messages{
   float: left; 
   border: 1px solid #800; 
   background: #ffe; 
   color: #800; 
   width: 95%; 
   margin-bottom: 15px; 
   padding: 10px;
   font-family: sans-serif;
}
*/

