.error{
    color: red;
    padding-left: 20px;
    background-position: center left;
    background-repeat: no-repeat;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:30%;
}   
.delete_link{
	float: right; 
	margin: 5px;    
	background-color: #fee;   
	border-radius: 3px;
	border: 1px solid #eee;  
	padding: 4px;
}       
.delete_link:hover{
	background-color: #fdd; 
}
.delete_link a{
	color: #300;    
	text-decoration: none;   
	font-style: italic;
} 
.x-grid3-cell-inner, .x-grid3-hd-inner,button.x-btn-text {
 	white-space: normal; /* changed from nowrap */
}
.rostersMenuPanel .x-panel-header{
	background-color: white;
}
div.search-item p{
	padding: 5px;
	background-color: #eee;
}
div.search-item p:hover{
	background-color: #fff;
	border: 0;
}
div.search-item p{
	padding: 5px;
	background-color: #eee;
	border: 0;
}