.find-abbr-template{
    width: 100%;
    background: white;
    border-bottom: 1px dotted black;
    padding: 6px 2px;
}
.find-abbr-template img{
    float: right;
    width: 20%;
}
.find-abbr-template .entry{
    border-bottom: 1px dotted #eee;
    padding: 2px;
    margin: 2px;
}
.find-abbr-template .entry strong{
    font-weight: bold;
    width: 30%;
}
.find-abbr-template p.meta{   
    color: #999;
    margin: 0;
    padding: 0 5px;
}
button.editPerson{
    background-image: url(/rosters/images/icons/vcard_edit.png);
}
.findTab{
    background-image: url(/rosters/images/icons/magnifier.png);
}
.FindPanel
{
    padding: 10px;
    overflow: auto;
}
.FindPanel h1, .FindPanel h2
{
    background-color: #2A3A89;
    color: white;
}
.FindPanel h1, .FindPanel h2, .FindPanel h3, .FindPanel p
{
    padding: .5em;
}
div.emptynode span{
    font-style: italic;
    color: gray;
}
