.accept
{
	background-image:url(/rosters/images/icons/accept.png);
}

.add
{
	background-image:url(/rosters/images/icons/add.png);
}

.anchor
{
	background-image:url(/rosters/images/icons/anchor.png);
}

.application
{
	background-image:url(/rosters/images/icons/application.png);
}

.application_add
{
	background-image:url(/rosters/images/icons/application_add.png);
}

.application_cascade
{
	background-image:url(/rosters/images/icons/application_cascade.png);
}

.application_delete
{
	background-image:url(/rosters/images/icons/application_delete.png);
}

.application_double
{
	background-image:url(/rosters/images/icons/application_double.png);
}

.application_edit
{
	background-image:url(/rosters/images/icons/application_edit.png);
}

.application_error
{
	background-image:url(/rosters/images/icons/application_error.png);
}

.application_form
{
	background-image:url(/rosters/images/icons/application_form.png);
}

.application_form_add
{
	background-image:url(/rosters/images/icons/application_form_add.png);
}

.application_form_delete
{
	background-image:url(/rosters/images/icons/application_form_delete.png);
}

.application_form_edit
{
	background-image:url(/rosters/images/icons/application_form_edit.png);
}

.application_form_magnify
{
	background-image:url(/rosters/images/icons/application_form_magnify.png);
}

.application_get
{
	background-image:url(/rosters/images/icons/application_get.png);
}

.application_go
{
	background-image:url(/rosters/images/icons/application_go.png);
}

.application_home
{
	background-image:url(/rosters/images/icons/application_home.png);
}

.application_key
{
	background-image:url(/rosters/images/icons/application_key.png);
}

.application_lightning
{
	background-image:url(/rosters/images/icons/application_lightning.png);
}

.application_link
{
	background-image:url(/rosters/images/icons/application_link.png);
}

.application_osx
{
	background-image:url(/rosters/images/icons/application_osx.png);
}

.application_osx_terminal
{
	background-image:url(/rosters/images/icons/application_osx_terminal.png);
}

.application_put
{
	background-image:url(/rosters/images/icons/application_put.png);
}

.application_side_boxes
{
	background-image:url(/rosters/images/icons/application_side_boxes.png);
}

.application_side_contract
{
	background-image:url(/rosters/images/icons/application_side_contract.png);
}

.application_side_expand
{
	background-image:url(/rosters/images/icons/application_side_expand.png);
}

.application_side_list
{
	background-image:url(/rosters/images/icons/application_side_list.png);
}

.application_side_tree
{
	background-image:url(/rosters/images/icons/application_side_tree.png);
}

.application_split
{
	background-image:url(/rosters/images/icons/application_split.png);
}

.application_tile_horizontal
{
	background-image:url(/rosters/images/icons/application_tile_horizontal.png);
}

.application_tile_vertical
{
	background-image:url(/rosters/images/icons/application_tile_vertical.png);
}

.application_view_columns
{
	background-image:url(/rosters/images/icons/application_view_columns.png);
}

.application_view_detail
{
	background-image:url(/rosters/images/icons/application_view_detail.png);
}

.application_view_gallery
{
	background-image:url(/rosters/images/icons/application_view_gallery.png);
}

.application_view_icons
{
	background-image:url(/rosters/images/icons/application_view_icons.png);
}

.application_view_list
{
	background-image:url(/rosters/images/icons/application_view_list.png);
}

.application_view_tile
{
	background-image:url(/rosters/images/icons/application_view_tile.png);
}

.application_xp
{
	background-image:url(/rosters/images/icons/application_xp.png);
}

.application_xp_terminal
{
	background-image:url(/rosters/images/icons/application_xp_terminal.png);
}

.arrow_branch
{
	background-image:url(/rosters/images/icons/arrow_branch.png);
}

.arrow_divide
{
	background-image:url(/rosters/images/icons/arrow_divide.png);
}

.arrow_down
{
	background-image:url(/rosters/images/icons/arrow_down.png);
}

.arrow_in
{
	background-image:url(/rosters/images/icons/arrow_in.png);
}

.arrow_inout
{
	background-image:url(/rosters/images/icons/arrow_inout.png);
}

.arrow_join
{
	background-image:url(/rosters/images/icons/arrow_join.png);
}

.arrow_left
{
	background-image:url(/rosters/images/icons/arrow_left.png);
}

.arrow_merge
{
	background-image:url(/rosters/images/icons/arrow_merge.png);
}

.arrow_out
{
	background-image:url(/rosters/images/icons/arrow_out.png);
}

.arrow_redo
{
	background-image:url(/rosters/images/icons/arrow_redo.png);
}

.arrow_refresh
{
	background-image:url(/rosters/images/icons/arrow_refresh.png);
}

.arrow_refresh_small
{
	background-image:url(/rosters/images/icons/arrow_refresh_small.png);
}

.arrow_right
{
	background-image:url(/rosters/images/icons/arrow_right.png);
}

.arrow_rotate_anticlockwise
{
	background-image:url(/rosters/images/icons/arrow_rotate_anticlockwise.png);
}

.arrow_rotate_clockwise
{
	background-image:url(/rosters/images/icons/arrow_rotate_clockwise.png);
}

.arrow_switch
{
	background-image:url(/rosters/images/icons/arrow_switch.png);
}

.arrow_turn_left
{
	background-image:url(/rosters/images/icons/arrow_turn_left.png);
}

.arrow_turn_right
{
	background-image:url(/rosters/images/icons/arrow_turn_right.png);
}

.arrow_undo
{
	background-image:url(/rosters/images/icons/arrow_undo.png);
}

.arrow_up
{
	background-image:url(/rosters/images/icons/arrow_up.png);
}

.asterisk_orange
{
	background-image:url(/rosters/images/icons/asterisk_orange.png);
}

.asterisk_yellow
{
	background-image:url(/rosters/images/icons/asterisk_yellow.png);
}

.attach
{
	background-image:url(/rosters/images/icons/attach.png);
}

.award_star_add
{
	background-image:url(/rosters/images/icons/award_star_add.png);
}

.award_star_bronze_1
{
	background-image:url(/rosters/images/icons/award_star_bronze_1.png);
}

.award_star_bronze_2
{
	background-image:url(/rosters/images/icons/award_star_bronze_2.png);
}

.award_star_bronze_3
{
	background-image:url(/rosters/images/icons/award_star_bronze_3.png);
}

.award_star_delete
{
	background-image:url(/rosters/images/icons/award_star_delete.png);
}

.award_star_gold_1
{
	background-image:url(/rosters/images/icons/award_star_gold_1.png);
}

.award_star_gold_2
{
	background-image:url(/rosters/images/icons/award_star_gold_2.png);
}

.award_star_gold_3
{
	background-image:url(/rosters/images/icons/award_star_gold_3.png);
}

.award_star_silver_1
{
	background-image:url(/rosters/images/icons/award_star_silver_1.png);
}

.award_star_silver_2
{
	background-image:url(/rosters/images/icons/award_star_silver_2.png);
}

.award_star_silver_3
{
	background-image:url(/rosters/images/icons/award_star_silver_3.png);
}

.basket
{
	background-image:url(/rosters/images/icons/basket.png);
}

.basket_add
{
	background-image:url(/rosters/images/icons/basket_add.png);
}

.basket_delete
{
	background-image:url(/rosters/images/icons/basket_delete.png);
}

.basket_edit
{
	background-image:url(/rosters/images/icons/basket_edit.png);
}

.basket_error
{
	background-image:url(/rosters/images/icons/basket_error.png);
}

.basket_go
{
	background-image:url(/rosters/images/icons/basket_go.png);
}

.basket_put
{
	background-image:url(/rosters/images/icons/basket_put.png);
}

.basket_remove
{
	background-image:url(/rosters/images/icons/basket_remove.png);
}

.bell
{
	background-image:url(/rosters/images/icons/bell.png);
}

.bell_add
{
	background-image:url(/rosters/images/icons/bell_add.png);
}

.bell_delete
{
	background-image:url(/rosters/images/icons/bell_delete.png);
}

.bell_error
{
	background-image:url(/rosters/images/icons/bell_error.png);
}

.bell_go
{
	background-image:url(/rosters/images/icons/bell_go.png);
}

.bell_link
{
	background-image:url(/rosters/images/icons/bell_link.png);
}

.bin
{
	background-image:url(/rosters/images/icons/bin.png);
}

.bin_closed
{
	background-image:url(/rosters/images/icons/bin_closed.png);
}

.bin_empty
{
	background-image:url(/rosters/images/icons/bin_empty.png);
}

.bomb
{
	background-image:url(/rosters/images/icons/bomb.png);
}

.book
{
	background-image:url(/rosters/images/icons/book.png);
}

.book_add
{
	background-image:url(/rosters/images/icons/book_add.png);
}

.book_addresses
{
	background-image:url(/rosters/images/icons/book_addresses.png);
}

.book_delete
{
	background-image:url(/rosters/images/icons/book_delete.png);
}

.book_edit
{
	background-image:url(/rosters/images/icons/book_edit.png);
}

.book_error
{
	background-image:url(/rosters/images/icons/book_error.png);
}

.book_go
{
	background-image:url(/rosters/images/icons/book_go.png);
}

.book_key
{
	background-image:url(/rosters/images/icons/book_key.png);
}

.book_link
{
	background-image:url(/rosters/images/icons/book_link.png);
}

.book_next
{
	background-image:url(/rosters/images/icons/book_next.png);
}

.book_open
{
	background-image:url(/rosters/images/icons/book_open.png);
}

.book_previous
{
	background-image:url(/rosters/images/icons/book_previous.png);
}

.box
{
	background-image:url(/rosters/images/icons/box.png);
}

.brick
{
	background-image:url(/rosters/images/icons/brick.png);
}

.brick_add
{
	background-image:url(/rosters/images/icons/brick_add.png);
}

.brick_delete
{
	background-image:url(/rosters/images/icons/brick_delete.png);
}

.brick_edit
{
	background-image:url(/rosters/images/icons/brick_edit.png);
}

.brick_error
{
	background-image:url(/rosters/images/icons/brick_error.png);
}

.brick_go
{
	background-image:url(/rosters/images/icons/brick_go.png);
}

.brick_link
{
	background-image:url(/rosters/images/icons/brick_link.png);
}

.bricks
{
	background-image:url(/rosters/images/icons/bricks.png);
}

.briefcase
{
	background-image:url(/rosters/images/icons/briefcase.png);
}

.bug
{
	background-image:url(/rosters/images/icons/bug.png);
}

.bug_add
{
	background-image:url(/rosters/images/icons/bug_add.png);
}

.bug_delete
{
	background-image:url(/rosters/images/icons/bug_delete.png);
}

.bug_edit
{
	background-image:url(/rosters/images/icons/bug_edit.png);
}

.bug_error
{
	background-image:url(/rosters/images/icons/bug_error.png);
}

.bug_go
{
	background-image:url(/rosters/images/icons/bug_go.png);
}

.bug_link
{
	background-image:url(/rosters/images/icons/bug_link.png);
}

.building
{
	background-image:url(/rosters/images/icons/building.png);
}

.building_add
{
	background-image:url(/rosters/images/icons/building_add.png);
}

.building_delete
{
	background-image:url(/rosters/images/icons/building_delete.png);
}

.building_edit
{
	background-image:url(/rosters/images/icons/building_edit.png);
}

.building_error
{
	background-image:url(/rosters/images/icons/building_error.png);
}

.building_go
{
	background-image:url(/rosters/images/icons/building_go.png);
}

.building_key
{
	background-image:url(/rosters/images/icons/building_key.png);
}

.building_link
{
	background-image:url(/rosters/images/icons/building_link.png);
}

.bullet_add
{
	background-image:url(/rosters/images/icons/bullet_add.png);
}

.bullet_arrow_bottom
{
	background-image:url(/rosters/images/icons/bullet_arrow_bottom.png);
}

.bullet_arrow_down
{
	background-image:url(/rosters/images/icons/bullet_arrow_down.png);
}

.bullet_arrow_top
{
	background-image:url(/rosters/images/icons/bullet_arrow_top.png);
}

.bullet_arrow_up
{
	background-image:url(/rosters/images/icons/bullet_arrow_up.png);
}

.bullet_back
{
	background-image:url(/rosters/images/icons/bullet_back.png);
}

.bullet_black
{
	background-image:url(/rosters/images/icons/bullet_black.png);
}

.bullet_blue
{
	background-image:url(/rosters/images/icons/bullet_blue.png);
}

.bullet_delete
{
	background-image:url(/rosters/images/icons/bullet_delete.png);
}

.bullet_disk
{
	background-image:url(/rosters/images/icons/bullet_disk.png);
}

.bullet_error
{
	background-image:url(/rosters/images/icons/bullet_error.png);
}

.bullet_feed
{
	background-image:url(/rosters/images/icons/bullet_feed.png);
}

.bullet_go
{
	background-image:url(/rosters/images/icons/bullet_go.png);
}

.bullet_green
{
	background-image:url(/rosters/images/icons/bullet_green.png);
}

.bullet_key
{
	background-image:url(/rosters/images/icons/bullet_key.png);
}

.bullet_orange
{
	background-image:url(/rosters/images/icons/bullet_orange.png);
}

.bullet_picture
{
	background-image:url(/rosters/images/icons/bullet_picture.png);
}

.bullet_pink
{
	background-image:url(/rosters/images/icons/bullet_pink.png);
}

.bullet_purple
{
	background-image:url(/rosters/images/icons/bullet_purple.png);
}

.bullet_red
{
	background-image:url(/rosters/images/icons/bullet_red.png);
}

.bullet_star
{
	background-image:url(/rosters/images/icons/bullet_star.png);
}

.bullet_toggle_minus
{
	background-image:url(/rosters/images/icons/bullet_toggle_minus.png);
}

.bullet_toggle_plus
{
	background-image:url(/rosters/images/icons/bullet_toggle_plus.png);
}

.bullet_white
{
	background-image:url(/rosters/images/icons/bullet_white.png);
}

.bullet_wrench
{
	background-image:url(/rosters/images/icons/bullet_wrench.png);
}

.bullet_yellow
{
	background-image:url(/rosters/images/icons/bullet_yellow.png);
}

.cake
{
	background-image:url(/rosters/images/icons/cake.png);
}

.calculator
{
	background-image:url(/rosters/images/icons/calculator.png);
}

.calculator_add
{
	background-image:url(/rosters/images/icons/calculator_add.png);
}

.calculator_delete
{
	background-image:url(/rosters/images/icons/calculator_delete.png);
}

.calculator_edit
{
	background-image:url(/rosters/images/icons/calculator_edit.png);
}

.calculator_error
{
	background-image:url(/rosters/images/icons/calculator_error.png);
}

.calculator_link
{
	background-image:url(/rosters/images/icons/calculator_link.png);
}

.calendar
{
	background-image:url(/rosters/images/icons/calendar.png);
}

.calendar_add
{
	background-image:url(/rosters/images/icons/calendar_add.png);
}

.calendar_delete
{
	background-image:url(/rosters/images/icons/calendar_delete.png);
}

.calendar_edit
{
	background-image:url(/rosters/images/icons/calendar_edit.png);
}

.calendar_link
{
	background-image:url(/rosters/images/icons/calendar_link.png);
}

.calendar_view_day
{
	background-image:url(/rosters/images/icons/calendar_view_day.png);
}

.calendar_view_month
{
	background-image:url(/rosters/images/icons/calendar_view_month.png);
}

.calendar_view_week
{
	background-image:url(/rosters/images/icons/calendar_view_week.png);
}

.camera
{
	background-image:url(/rosters/images/icons/camera.png);
}

.camera_add
{
	background-image:url(/rosters/images/icons/camera_add.png);
}

.camera_delete
{
	background-image:url(/rosters/images/icons/camera_delete.png);
}

.camera_edit
{
	background-image:url(/rosters/images/icons/camera_edit.png);
}

.camera_error
{
	background-image:url(/rosters/images/icons/camera_error.png);
}

.camera_go
{
	background-image:url(/rosters/images/icons/camera_go.png);
}

.camera_link
{
	background-image:url(/rosters/images/icons/camera_link.png);
}

.camera_small
{
	background-image:url(/rosters/images/icons/camera_small.png);
}

.cancel
{
	background-image:url(/rosters/images/icons/cancel.png);
}

.car
{
	background-image:url(/rosters/images/icons/car.png);
}

.car_add
{
	background-image:url(/rosters/images/icons/car_add.png);
}

.car_delete
{
	background-image:url(/rosters/images/icons/car_delete.png);
}

.cart
{
	background-image:url(/rosters/images/icons/cart.png);
}

.cart_add
{
	background-image:url(/rosters/images/icons/cart_add.png);
}

.cart_delete
{
	background-image:url(/rosters/images/icons/cart_delete.png);
}

.cart_edit
{
	background-image:url(/rosters/images/icons/cart_edit.png);
}

.cart_error
{
	background-image:url(/rosters/images/icons/cart_error.png);
}

.cart_go
{
	background-image:url(/rosters/images/icons/cart_go.png);
}

.cart_put
{
	background-image:url(/rosters/images/icons/cart_put.png);
}

.cart_remove
{
	background-image:url(/rosters/images/icons/cart_remove.png);
}

.cd
{
	background-image:url(/rosters/images/icons/cd.png);
}

.cd_add
{
	background-image:url(/rosters/images/icons/cd_add.png);
}

.cd_burn
{
	background-image:url(/rosters/images/icons/cd_burn.png);
}

.cd_delete
{
	background-image:url(/rosters/images/icons/cd_delete.png);
}

.cd_edit
{
	background-image:url(/rosters/images/icons/cd_edit.png);
}

.cd_eject
{
	background-image:url(/rosters/images/icons/cd_eject.png);
}

.cd_go
{
	background-image:url(/rosters/images/icons/cd_go.png);
}

.chart_bar
{
	background-image:url(/rosters/images/icons/chart_bar.png);
}

.chart_bar_add
{
	background-image:url(/rosters/images/icons/chart_bar_add.png);
}

.chart_bar_delete
{
	background-image:url(/rosters/images/icons/chart_bar_delete.png);
}

.chart_bar_edit
{
	background-image:url(/rosters/images/icons/chart_bar_edit.png);
}

.chart_bar_error
{
	background-image:url(/rosters/images/icons/chart_bar_error.png);
}

.chart_bar_link
{
	background-image:url(/rosters/images/icons/chart_bar_link.png);
}

.chart_curve
{
	background-image:url(/rosters/images/icons/chart_curve.png);
}

.chart_curve_add
{
	background-image:url(/rosters/images/icons/chart_curve_add.png);
}

.chart_curve_delete
{
	background-image:url(/rosters/images/icons/chart_curve_delete.png);
}

.chart_curve_edit
{
	background-image:url(/rosters/images/icons/chart_curve_edit.png);
}

.chart_curve_error
{
	background-image:url(/rosters/images/icons/chart_curve_error.png);
}

.chart_curve_go
{
	background-image:url(/rosters/images/icons/chart_curve_go.png);
}

.chart_curve_link
{
	background-image:url(/rosters/images/icons/chart_curve_link.png);
}

.chart_line
{
	background-image:url(/rosters/images/icons/chart_line.png);
}

.chart_line_add
{
	background-image:url(/rosters/images/icons/chart_line_add.png);
}

.chart_line_delete
{
	background-image:url(/rosters/images/icons/chart_line_delete.png);
}

.chart_line_edit
{
	background-image:url(/rosters/images/icons/chart_line_edit.png);
}

.chart_line_error
{
	background-image:url(/rosters/images/icons/chart_line_error.png);
}

.chart_line_link
{
	background-image:url(/rosters/images/icons/chart_line_link.png);
}

.chart_organisation
{
	background-image:url(/rosters/images/icons/chart_organisation.png);
}

.chart_organisation_add
{
	background-image:url(/rosters/images/icons/chart_organisation_add.png);
}

.chart_organisation_delete
{
	background-image:url(/rosters/images/icons/chart_organisation_delete.png);
}

.chart_organisation_eye
{
	background-image:url(/rosters/images/icons/chart_organisation_eye.png);
}

.chart_pie
{
	background-image:url(/rosters/images/icons/chart_pie.png);
}

.chart_pie_add
{
	background-image:url(/rosters/images/icons/chart_pie_add.png);
}

.chart_pie_delete
{
	background-image:url(/rosters/images/icons/chart_pie_delete.png);
}

.chart_pie_edit
{
	background-image:url(/rosters/images/icons/chart_pie_edit.png);
}

.chart_pie_error
{
	background-image:url(/rosters/images/icons/chart_pie_error.png);
}

.chart_pie_link
{
	background-image:url(/rosters/images/icons/chart_pie_link.png);
}

.clock
{
	background-image:url(/rosters/images/icons/clock.png);
}

.clock_add
{
	background-image:url(/rosters/images/icons/clock_add.png);
}

.clock_delete
{
	background-image:url(/rosters/images/icons/clock_delete.png);
}

.clock_edit
{
	background-image:url(/rosters/images/icons/clock_edit.png);
}

.clock_error
{
	background-image:url(/rosters/images/icons/clock_error.png);
}

.clock_go
{
	background-image:url(/rosters/images/icons/clock_go.png);
}

.clock_link
{
	background-image:url(/rosters/images/icons/clock_link.png);
}

.clock_pause
{
	background-image:url(/rosters/images/icons/clock_pause.png);
}

.clock_play
{
	background-image:url(/rosters/images/icons/clock_play.png);
}

.clock_red
{
	background-image:url(/rosters/images/icons/clock_red.png);
}

.clock_stop
{
	background-image:url(/rosters/images/icons/clock_stop.png);
}

.cog
{
	background-image:url(/rosters/images/icons/cog.png);
}

.cog_add
{
	background-image:url(/rosters/images/icons/cog_add.png);
}

.cog_delete
{
	background-image:url(/rosters/images/icons/cog_delete.png);
}

.cog_edit
{
	background-image:url(/rosters/images/icons/cog_edit.png);
}

.cog_error
{
	background-image:url(/rosters/images/icons/cog_error.png);
}

.cog_go
{
	background-image:url(/rosters/images/icons/cog_go.png);
}

.coins
{
	background-image:url(/rosters/images/icons/coins.png);
}

.coins_add
{
	background-image:url(/rosters/images/icons/coins_add.png);
}

.coins_delete
{
	background-image:url(/rosters/images/icons/coins_delete.png);
}

.color_swatch
{
	background-image:url(/rosters/images/icons/color_swatch.png);
}

.color_wheel
{
	background-image:url(/rosters/images/icons/color_wheel.png);
}

.comment
{
	background-image:url(/rosters/images/icons/comment.png);
}

.comment_add
{
	background-image:url(/rosters/images/icons/comment_add.png);
}

.comment_delete
{
	background-image:url(/rosters/images/icons/comment_delete.png);
}

.comment_edit
{
	background-image:url(/rosters/images/icons/comment_edit.png);
}

.comments
{
	background-image:url(/rosters/images/icons/comments.png);
}

.comments_add
{
	background-image:url(/rosters/images/icons/comments_add.png);
}

.comments_delete
{
	background-image:url(/rosters/images/icons/comments_delete.png);
}

.compress
{
	background-image:url(/rosters/images/icons/compress.png);
}

.computer
{
	background-image:url(/rosters/images/icons/computer.png);
}

.computer_add
{
	background-image:url(/rosters/images/icons/computer_add.png);
}

.computer_delete
{
	background-image:url(/rosters/images/icons/computer_delete.png);
}

.computer_edit
{
	background-image:url(/rosters/images/icons/computer_edit.png);
}

.computer_error
{
	background-image:url(/rosters/images/icons/computer_error.png);
}

.computer_go
{
	background-image:url(/rosters/images/icons/computer_go.png);
}

.computer_key
{
	background-image:url(/rosters/images/icons/computer_key.png);
}

.computer_link
{
	background-image:url(/rosters/images/icons/computer_link.png);
}

.connect
{
	background-image:url(/rosters/images/icons/connect.png);
}

.contrast
{
	background-image:url(/rosters/images/icons/contrast.png);
}

.contrast_decrease
{
	background-image:url(/rosters/images/icons/contrast_decrease.png);
}

.contrast_high
{
	background-image:url(/rosters/images/icons/contrast_high.png);
}

.contrast_increase
{
	background-image:url(/rosters/images/icons/contrast_increase.png);
}

.contrast_low
{
	background-image:url(/rosters/images/icons/contrast_low.png);
}

.control_eject
{
	background-image:url(/rosters/images/icons/control_eject.png);
}

.control_eject_blue
{
	background-image:url(/rosters/images/icons/control_eject_blue.png);
}

.control_end
{
	background-image:url(/rosters/images/icons/control_end.png);
}

.control_end_blue
{
	background-image:url(/rosters/images/icons/control_end_blue.png);
}

.control_equalizer
{
	background-image:url(/rosters/images/icons/control_equalizer.png);
}

.control_equalizer_blue
{
	background-image:url(/rosters/images/icons/control_equalizer_blue.png);
}

.control_fastforward
{
	background-image:url(/rosters/images/icons/control_fastforward.png);
}

.control_fastforward_blue
{
	background-image:url(/rosters/images/icons/control_fastforward_blue.png);
}

.control_pause
{
	background-image:url(/rosters/images/icons/control_pause.png);
}

.control_pause_blue
{
	background-image:url(/rosters/images/icons/control_pause_blue.png);
}

.control_play
{
	background-image:url(/rosters/images/icons/control_play.png);
}

.control_play_blue
{
	background-image:url(/rosters/images/icons/control_play_blue.png);
}

.control_repeat
{
	background-image:url(/rosters/images/icons/control_repeat.png);
}

.control_repeat_blue
{
	background-image:url(/rosters/images/icons/control_repeat_blue.png);
}

.control_rewind
{
	background-image:url(/rosters/images/icons/control_rewind.png);
}

.control_rewind_blue
{
	background-image:url(/rosters/images/icons/control_rewind_blue.png);
}

.control_start
{
	background-image:url(/rosters/images/icons/control_start.png);
}

.control_start_blue
{
	background-image:url(/rosters/images/icons/control_start_blue.png);
}

.control_stop
{
	background-image:url(/rosters/images/icons/control_stop.png);
}

.control_stop_blue
{
	background-image:url(/rosters/images/icons/control_stop_blue.png);
}

.controller
{
	background-image:url(/rosters/images/icons/controller.png);
}

.controller_add
{
	background-image:url(/rosters/images/icons/controller_add.png);
}

.controller_delete
{
	background-image:url(/rosters/images/icons/controller_delete.png);
}

.controller_error
{
	background-image:url(/rosters/images/icons/controller_error.png);
}

.create_css.sh
{
	background-image:url(/rosters/images/icons/create_css.sh);
}

.creditcards
{
	background-image:url(/rosters/images/icons/creditcards.png);
}

.cross
{
	background-image:url(/rosters/images/icons/cross.png);
}

.css
{
	background-image:url(/rosters/images/icons/css.png);
}

.css_add
{
	background-image:url(/rosters/images/icons/css_add.png);
}

.css_delete
{
	background-image:url(/rosters/images/icons/css_delete.png);
}

.css_go
{
	background-image:url(/rosters/images/icons/css_go.png);
}

.css_valid
{
	background-image:url(/rosters/images/icons/css_valid.png);
}

.cup
{
	background-image:url(/rosters/images/icons/cup.png);
}

.cup_add
{
	background-image:url(/rosters/images/icons/cup_add.png);
}

.cup_delete
{
	background-image:url(/rosters/images/icons/cup_delete.png);
}

.cup_edit
{
	background-image:url(/rosters/images/icons/cup_edit.png);
}

.cup_error
{
	background-image:url(/rosters/images/icons/cup_error.png);
}

.cup_go
{
	background-image:url(/rosters/images/icons/cup_go.png);
}

.cup_key
{
	background-image:url(/rosters/images/icons/cup_key.png);
}

.cup_link
{
	background-image:url(/rosters/images/icons/cup_link.png);
}

.cursor
{
	background-image:url(/rosters/images/icons/cursor.png);
}

.cut
{
	background-image:url(/rosters/images/icons/cut.png);
}

.cut_red
{
	background-image:url(/rosters/images/icons/cut_red.png);
}

.database
{
	background-image:url(/rosters/images/icons/database.png);
}

.database_add
{
	background-image:url(/rosters/images/icons/database_add.png);
}

.database_connect
{
	background-image:url(/rosters/images/icons/database_connect.png);
}

.database_delete
{
	background-image:url(/rosters/images/icons/database_delete.png);
}

.database_edit
{
	background-image:url(/rosters/images/icons/database_edit.png);
}

.database_error
{
	background-image:url(/rosters/images/icons/database_error.png);
}

.database_gear
{
	background-image:url(/rosters/images/icons/database_gear.png);
}

.database_go
{
	background-image:url(/rosters/images/icons/database_go.png);
}

.database_key
{
	background-image:url(/rosters/images/icons/database_key.png);
}

.database_lightning
{
	background-image:url(/rosters/images/icons/database_lightning.png);
}

.database_link
{
	background-image:url(/rosters/images/icons/database_link.png);
}

.database_refresh
{
	background-image:url(/rosters/images/icons/database_refresh.png);
}

.database_save
{
	background-image:url(/rosters/images/icons/database_save.png);
}

.database_table
{
	background-image:url(/rosters/images/icons/database_table.png);
}

.date
{
	background-image:url(/rosters/images/icons/date.png);
}

.date_add
{
	background-image:url(/rosters/images/icons/date_add.png);
}

.date_delete
{
	background-image:url(/rosters/images/icons/date_delete.png);
}

.date_edit
{
	background-image:url(/rosters/images/icons/date_edit.png);
}

.date_error
{
	background-image:url(/rosters/images/icons/date_error.png);
}

.date_go
{
	background-image:url(/rosters/images/icons/date_go.png);
}

.date_link
{
	background-image:url(/rosters/images/icons/date_link.png);
}

.date_magnify
{
	background-image:url(/rosters/images/icons/date_magnify.png);
}

.date_next
{
	background-image:url(/rosters/images/icons/date_next.png);
}

.date_previous
{
	background-image:url(/rosters/images/icons/date_previous.png);
}

.delete
{
	background-image:url(/rosters/images/icons/delete.png);
}

.disconnect
{
	background-image:url(/rosters/images/icons/disconnect.png);
}

.disk
{
	background-image:url(/rosters/images/icons/disk.png);
}

.disk_multiple
{
	background-image:url(/rosters/images/icons/disk_multiple.png);
}

.docline_clear
{
	background-image:url(/rosters/images/icons/docline_clear.gif);
}

.docline_override
{
	background-image:url(/rosters/images/icons/docline_override.gif);
}

.door
{
	background-image:url(/rosters/images/icons/door.png);
}

.door_in
{
	background-image:url(/rosters/images/icons/door_in.png);
}

.door_open
{
	background-image:url(/rosters/images/icons/door_open.png);
}

.door_out
{
	background-image:url(/rosters/images/icons/door_out.png);
}

.drink
{
	background-image:url(/rosters/images/icons/drink.png);
}

.drink_empty
{
	background-image:url(/rosters/images/icons/drink_empty.png);
}

.drive
{
	background-image:url(/rosters/images/icons/drive.png);
}

.drive_add
{
	background-image:url(/rosters/images/icons/drive_add.png);
}

.drive_burn
{
	background-image:url(/rosters/images/icons/drive_burn.png);
}

.drive_cd
{
	background-image:url(/rosters/images/icons/drive_cd.png);
}

.drive_cd_empty
{
	background-image:url(/rosters/images/icons/drive_cd_empty.png);
}

.drive_delete
{
	background-image:url(/rosters/images/icons/drive_delete.png);
}

.drive_disk
{
	background-image:url(/rosters/images/icons/drive_disk.png);
}

.drive_edit
{
	background-image:url(/rosters/images/icons/drive_edit.png);
}

.drive_error
{
	background-image:url(/rosters/images/icons/drive_error.png);
}

.drive_go
{
	background-image:url(/rosters/images/icons/drive_go.png);
}

.drive_key
{
	background-image:url(/rosters/images/icons/drive_key.png);
}

.drive_link
{
	background-image:url(/rosters/images/icons/drive_link.png);
}

.drive_magnify
{
	background-image:url(/rosters/images/icons/drive_magnify.png);
}

.drive_network
{
	background-image:url(/rosters/images/icons/drive_network.png);
}

.drive_rename
{
	background-image:url(/rosters/images/icons/drive_rename.png);
}

.drive_user
{
	background-image:url(/rosters/images/icons/drive_user.png);
}

.drive_web
{
	background-image:url(/rosters/images/icons/drive_web.png);
}

.dvd
{
	background-image:url(/rosters/images/icons/dvd.png);
}

.dvd_add
{
	background-image:url(/rosters/images/icons/dvd_add.png);
}

.dvd_delete
{
	background-image:url(/rosters/images/icons/dvd_delete.png);
}

.dvd_edit
{
	background-image:url(/rosters/images/icons/dvd_edit.png);
}

.dvd_error
{
	background-image:url(/rosters/images/icons/dvd_error.png);
}

.dvd_go
{
	background-image:url(/rosters/images/icons/dvd_go.png);
}

.dvd_key
{
	background-image:url(/rosters/images/icons/dvd_key.png);
}

.dvd_link
{
	background-image:url(/rosters/images/icons/dvd_link.png);
}

.email
{
	background-image:url(/rosters/images/icons/email.png);
}

.email_add
{
	background-image:url(/rosters/images/icons/email_add.png);
}

.email_attach
{
	background-image:url(/rosters/images/icons/email_attach.png);
}

.email_delete
{
	background-image:url(/rosters/images/icons/email_delete.png);
}

.email_edit
{
	background-image:url(/rosters/images/icons/email_edit.png);
}

.email_error
{
	background-image:url(/rosters/images/icons/email_error.png);
}

.email_go
{
	background-image:url(/rosters/images/icons/email_go.png);
}

.email_link
{
	background-image:url(/rosters/images/icons/email_link.png);
}

.email_open
{
	background-image:url(/rosters/images/icons/email_open.png);
}

.email_open_image
{
	background-image:url(/rosters/images/icons/email_open_image.png);
}

.emoticon_evilgrin
{
	background-image:url(/rosters/images/icons/emoticon_evilgrin.png);
}

.emoticon_grin
{
	background-image:url(/rosters/images/icons/emoticon_grin.png);
}

.emoticon_happy
{
	background-image:url(/rosters/images/icons/emoticon_happy.png);
}

.emoticon_smile
{
	background-image:url(/rosters/images/icons/emoticon_smile.png);
}

.emoticon_surprised
{
	background-image:url(/rosters/images/icons/emoticon_surprised.png);
}

.emoticon_tongue
{
	background-image:url(/rosters/images/icons/emoticon_tongue.png);
}

.emoticon_unhappy
{
	background-image:url(/rosters/images/icons/emoticon_unhappy.png);
}

.emoticon_waii
{
	background-image:url(/rosters/images/icons/emoticon_waii.png);
}

.emoticon_wink
{
	background-image:url(/rosters/images/icons/emoticon_wink.png);
}

.error
{
	background-image:url(/rosters/images/icons/error.png);
}

.error_add
{
	background-image:url(/rosters/images/icons/error_add.png);
}

.error_delete
{
	background-image:url(/rosters/images/icons/error_delete.png);
}

.error_go
{
	background-image:url(/rosters/images/icons/error_go.png);
}

.exclamation
{
	background-image:url(/rosters/images/icons/exclamation.png);
}

.eye
{
	background-image:url(/rosters/images/icons/eye.png);
}

.feed
{
	background-image:url(/rosters/images/icons/feed.png);
}

.feed_add
{
	background-image:url(/rosters/images/icons/feed_add.png);
}

.feed_delete
{
	background-image:url(/rosters/images/icons/feed_delete.png);
}

.feed_disk
{
	background-image:url(/rosters/images/icons/feed_disk.png);
}

.feed_edit
{
	background-image:url(/rosters/images/icons/feed_edit.png);
}

.feed_error
{
	background-image:url(/rosters/images/icons/feed_error.png);
}

.feed_go
{
	background-image:url(/rosters/images/icons/feed_go.png);
}

.feed_key
{
	background-image:url(/rosters/images/icons/feed_key.png);
}

.feed_link
{
	background-image:url(/rosters/images/icons/feed_link.png);
}

.feed_magnify
{
	background-image:url(/rosters/images/icons/feed_magnify.png);
}

.female
{
	background-image:url(/rosters/images/icons/female.png);
}

.film
{
	background-image:url(/rosters/images/icons/film.png);
}

.film_add
{
	background-image:url(/rosters/images/icons/film_add.png);
}

.film_delete
{
	background-image:url(/rosters/images/icons/film_delete.png);
}

.film_edit
{
	background-image:url(/rosters/images/icons/film_edit.png);
}

.film_error
{
	background-image:url(/rosters/images/icons/film_error.png);
}

.film_go
{
	background-image:url(/rosters/images/icons/film_go.png);
}

.film_key
{
	background-image:url(/rosters/images/icons/film_key.png);
}

.film_link
{
	background-image:url(/rosters/images/icons/film_link.png);
}

.film_save
{
	background-image:url(/rosters/images/icons/film_save.png);
}

.find
{
	background-image:url(/rosters/images/icons/find.png);
}

.flag_blue
{
	background-image:url(/rosters/images/icons/flag_blue.png);
}

.flag_green
{
	background-image:url(/rosters/images/icons/flag_green.png);
}

.flag_orange
{
	background-image:url(/rosters/images/icons/flag_orange.png);
}

.flag_pink
{
	background-image:url(/rosters/images/icons/flag_pink.png);
}

.flag_purple
{
	background-image:url(/rosters/images/icons/flag_purple.png);
}

.flag_red
{
	background-image:url(/rosters/images/icons/flag_red.png);
}

.flag_yellow
{
	background-image:url(/rosters/images/icons/flag_yellow.png);
}

.folder
{
	background-image:url(/rosters/images/icons/folder.png);
}

.folder_add
{
	background-image:url(/rosters/images/icons/folder_add.png);
}

.folder_bell
{
	background-image:url(/rosters/images/icons/folder_bell.png);
}

.folder_brick
{
	background-image:url(/rosters/images/icons/folder_brick.png);
}

.folder_bug
{
	background-image:url(/rosters/images/icons/folder_bug.png);
}

.folder_camera
{
	background-image:url(/rosters/images/icons/folder_camera.png);
}

.folder_database
{
	background-image:url(/rosters/images/icons/folder_database.png);
}

.folder_delete
{
	background-image:url(/rosters/images/icons/folder_delete.png);
}

.folder_edit
{
	background-image:url(/rosters/images/icons/folder_edit.png);
}

.folder_error
{
	background-image:url(/rosters/images/icons/folder_error.png);
}

.folder_explore
{
	background-image:url(/rosters/images/icons/folder_explore.png);
}

.folder_feed
{
	background-image:url(/rosters/images/icons/folder_feed.png);
}

.folder_find
{
	background-image:url(/rosters/images/icons/folder_find.png);
}

.folder_go
{
	background-image:url(/rosters/images/icons/folder_go.png);
}

.folder_heart
{
	background-image:url(/rosters/images/icons/folder_heart.png);
}

.folder_image
{
	background-image:url(/rosters/images/icons/folder_image.png);
}

.folder_key
{
	background-image:url(/rosters/images/icons/folder_key.png);
}

.folder_lightbulb
{
	background-image:url(/rosters/images/icons/folder_lightbulb.png);
}

.folder_link
{
	background-image:url(/rosters/images/icons/folder_link.png);
}

.folder_magnify
{
	background-image:url(/rosters/images/icons/folder_magnify.png);
}

.folder_page
{
	background-image:url(/rosters/images/icons/folder_page.png);
}

.folder_page_white
{
	background-image:url(/rosters/images/icons/folder_page_white.png);
}

.folder_palette
{
	background-image:url(/rosters/images/icons/folder_palette.png);
}

.folder_picture
{
	background-image:url(/rosters/images/icons/folder_picture.png);
}

.folder_star
{
	background-image:url(/rosters/images/icons/folder_star.png);
}

.folder_table
{
	background-image:url(/rosters/images/icons/folder_table.png);
}

.folder_user
{
	background-image:url(/rosters/images/icons/folder_user.png);
}

.folder_wrench
{
	background-image:url(/rosters/images/icons/folder_wrench.png);
}

.font
{
	background-image:url(/rosters/images/icons/font.png);
}

.font_add
{
	background-image:url(/rosters/images/icons/font_add.png);
}

.font_delete
{
	background-image:url(/rosters/images/icons/font_delete.png);
}

.font_go
{
	background-image:url(/rosters/images/icons/font_go.png);
}

.google-icon
{
	background-image:url(/rosters/images/icons/google-icon.png);
}

.group
{
	background-image:url(/rosters/images/icons/group.png);
}

.group_add
{
	background-image:url(/rosters/images/icons/group_add.png);
}

.group_delete
{
	background-image:url(/rosters/images/icons/group_delete.png);
}

.group_edit
{
	background-image:url(/rosters/images/icons/group_edit.png);
}

.group_error
{
	background-image:url(/rosters/images/icons/group_error.png);
}

.group_gear
{
	background-image:url(/rosters/images/icons/group_gear.png);
}

.group_go
{
	background-image:url(/rosters/images/icons/group_go.png);
}

.group_key
{
	background-image:url(/rosters/images/icons/group_key.png);
}

.group_link
{
	background-image:url(/rosters/images/icons/group_link.png);
}

.heart
{
	background-image:url(/rosters/images/icons/heart.png);
}

.heart_add
{
	background-image:url(/rosters/images/icons/heart_add.png);
}

.heart_delete
{
	background-image:url(/rosters/images/icons/heart_delete.png);
}

.help
{
	background-image:url(/rosters/images/icons/help.png);
}

.hourglass
{
	background-image:url(/rosters/images/icons/hourglass.png);
}

.hourglass_add
{
	background-image:url(/rosters/images/icons/hourglass_add.png);
}

.hourglass_delete
{
	background-image:url(/rosters/images/icons/hourglass_delete.png);
}

.hourglass_go
{
	background-image:url(/rosters/images/icons/hourglass_go.png);
}

.hourglass_link
{
	background-image:url(/rosters/images/icons/hourglass_link.png);
}

.house
{
	background-image:url(/rosters/images/icons/house.png);
}

.house_go
{
	background-image:url(/rosters/images/icons/house_go.png);
}

.house_link
{
	background-image:url(/rosters/images/icons/house_link.png);
}

.html
{
	background-image:url(/rosters/images/icons/html.png);
}

.html_add
{
	background-image:url(/rosters/images/icons/html_add.png);
}

.html_delete
{
	background-image:url(/rosters/images/icons/html_delete.png);
}

.html_go
{
	background-image:url(/rosters/images/icons/html_go.png);
}

.html_valid
{
	background-image:url(/rosters/images/icons/html_valid.png);
}

.image
{
	background-image:url(/rosters/images/icons/image.png);
}

.image_add
{
	background-image:url(/rosters/images/icons/image_add.png);
}

.image_delete
{
	background-image:url(/rosters/images/icons/image_delete.png);
}

.image_edit
{
	background-image:url(/rosters/images/icons/image_edit.png);
}

.image_link
{
	background-image:url(/rosters/images/icons/image_link.png);
}

.images
{
	background-image:url(/rosters/images/icons/images.png);
}

.index.html
{
	background-image:url(/rosters/images/icons/index.html);
}

.information
{
	background-image:url(/rosters/images/icons/information.png);
}

.ipod
{
	background-image:url(/rosters/images/icons/ipod.png);
}

.ipod_cast
{
	background-image:url(/rosters/images/icons/ipod_cast.png);
}

.ipod_cast_add
{
	background-image:url(/rosters/images/icons/ipod_cast_add.png);
}

.ipod_cast_delete
{
	background-image:url(/rosters/images/icons/ipod_cast_delete.png);
}

.ipod_sound
{
	background-image:url(/rosters/images/icons/ipod_sound.png);
}

.joystick
{
	background-image:url(/rosters/images/icons/joystick.png);
}

.joystick_add
{
	background-image:url(/rosters/images/icons/joystick_add.png);
}

.joystick_delete
{
	background-image:url(/rosters/images/icons/joystick_delete.png);
}

.joystick_error
{
	background-image:url(/rosters/images/icons/joystick_error.png);
}

.key
{
	background-image:url(/rosters/images/icons/key.png);
}

.key_add
{
	background-image:url(/rosters/images/icons/key_add.png);
}

.key_delete
{
	background-image:url(/rosters/images/icons/key_delete.png);
}

.key_go
{
	background-image:url(/rosters/images/icons/key_go.png);
}

.keyboard
{
	background-image:url(/rosters/images/icons/keyboard.png);
}

.keyboard_add
{
	background-image:url(/rosters/images/icons/keyboard_add.png);
}

.keyboard_delete
{
	background-image:url(/rosters/images/icons/keyboard_delete.png);
}

.keyboard_magnify
{
	background-image:url(/rosters/images/icons/keyboard_magnify.png);
}

.layers
{
	background-image:url(/rosters/images/icons/layers.png);
}

.layout
{
	background-image:url(/rosters/images/icons/layout.png);
}

.layout_add
{
	background-image:url(/rosters/images/icons/layout_add.png);
}

.layout_content
{
	background-image:url(/rosters/images/icons/layout_content.png);
}

.layout_delete
{
	background-image:url(/rosters/images/icons/layout_delete.png);
}

.layout_edit
{
	background-image:url(/rosters/images/icons/layout_edit.png);
}

.layout_error
{
	background-image:url(/rosters/images/icons/layout_error.png);
}

.layout_header
{
	background-image:url(/rosters/images/icons/layout_header.png);
}

.layout_link
{
	background-image:url(/rosters/images/icons/layout_link.png);
}

.layout_sidebar
{
	background-image:url(/rosters/images/icons/layout_sidebar.png);
}

.lightbulb
{
	background-image:url(/rosters/images/icons/lightbulb.png);
}

.lightbulb_add
{
	background-image:url(/rosters/images/icons/lightbulb_add.png);
}

.lightbulb_delete
{
	background-image:url(/rosters/images/icons/lightbulb_delete.png);
}

.lightbulb_off
{
	background-image:url(/rosters/images/icons/lightbulb_off.png);
}

.lightning
{
	background-image:url(/rosters/images/icons/lightning.png);
}

.lightning_add
{
	background-image:url(/rosters/images/icons/lightning_add.png);
}

.lightning_delete
{
	background-image:url(/rosters/images/icons/lightning_delete.png);
}

.lightning_go
{
	background-image:url(/rosters/images/icons/lightning_go.png);
}

.link
{
	background-image:url(/rosters/images/icons/link.png);
}

.link_add
{
	background-image:url(/rosters/images/icons/link_add.png);
}

.link_break
{
	background-image:url(/rosters/images/icons/link_break.png);
}

.link_delete
{
	background-image:url(/rosters/images/icons/link_delete.png);
}

.link_edit
{
	background-image:url(/rosters/images/icons/link_edit.png);
}

.link_error
{
	background-image:url(/rosters/images/icons/link_error.png);
}

.link_go
{
	background-image:url(/rosters/images/icons/link_go.png);
}

.lock
{
	background-image:url(/rosters/images/icons/lock.png);
}

.lock_add
{
	background-image:url(/rosters/images/icons/lock_add.png);
}

.lock_break
{
	background-image:url(/rosters/images/icons/lock_break.png);
}

.lock_delete
{
	background-image:url(/rosters/images/icons/lock_delete.png);
}

.lock_edit
{
	background-image:url(/rosters/images/icons/lock_edit.png);
}

.lock_go
{
	background-image:url(/rosters/images/icons/lock_go.png);
}

.lock_open
{
	background-image:url(/rosters/images/icons/lock_open.png);
}

.lorry
{
	background-image:url(/rosters/images/icons/lorry.png);
}

.lorry_add
{
	background-image:url(/rosters/images/icons/lorry_add.png);
}

.lorry_delete
{
	background-image:url(/rosters/images/icons/lorry_delete.png);
}

.lorry_error
{
	background-image:url(/rosters/images/icons/lorry_error.png);
}

.lorry_flatbed
{
	background-image:url(/rosters/images/icons/lorry_flatbed.png);
}

.lorry_go
{
	background-image:url(/rosters/images/icons/lorry_go.png);
}

.lorry_link
{
	background-image:url(/rosters/images/icons/lorry_link.png);
}

.magifier_zoom_out
{
	background-image:url(/rosters/images/icons/magifier_zoom_out.png);
}

.magnifier
{
	background-image:url(/rosters/images/icons/magnifier.png);
}

.magnifier_zoom_in
{
	background-image:url(/rosters/images/icons/magnifier_zoom_in.png);
}

.male
{
	background-image:url(/rosters/images/icons/male.png);
}

.map
{
	background-image:url(/rosters/images/icons/map.png);
}

.map_add
{
	background-image:url(/rosters/images/icons/map_add.png);
}

.map_delete
{
	background-image:url(/rosters/images/icons/map_delete.png);
}

.map_edit
{
	background-image:url(/rosters/images/icons/map_edit.png);
}

.map_go
{
	background-image:url(/rosters/images/icons/map_go.png);
}

.map_magnify
{
	background-image:url(/rosters/images/icons/map_magnify.png);
}

.medal_bronze_1
{
	background-image:url(/rosters/images/icons/medal_bronze_1.png);
}

.medal_bronze_2
{
	background-image:url(/rosters/images/icons/medal_bronze_2.png);
}

.medal_bronze_3
{
	background-image:url(/rosters/images/icons/medal_bronze_3.png);
}

.medal_bronze_add
{
	background-image:url(/rosters/images/icons/medal_bronze_add.png);
}

.medal_bronze_delete
{
	background-image:url(/rosters/images/icons/medal_bronze_delete.png);
}

.medal_gold_1
{
	background-image:url(/rosters/images/icons/medal_gold_1.png);
}

.medal_gold_2
{
	background-image:url(/rosters/images/icons/medal_gold_2.png);
}

.medal_gold_3
{
	background-image:url(/rosters/images/icons/medal_gold_3.png);
}

.medal_gold_add
{
	background-image:url(/rosters/images/icons/medal_gold_add.png);
}

.medal_gold_delete
{
	background-image:url(/rosters/images/icons/medal_gold_delete.png);
}

.medal_silver_1
{
	background-image:url(/rosters/images/icons/medal_silver_1.png);
}

.medal_silver_2
{
	background-image:url(/rosters/images/icons/medal_silver_2.png);
}

.medal_silver_3
{
	background-image:url(/rosters/images/icons/medal_silver_3.png);
}

.medal_silver_add
{
	background-image:url(/rosters/images/icons/medal_silver_add.png);
}

.medal_silver_delete
{
	background-image:url(/rosters/images/icons/medal_silver_delete.png);
}

.money
{
	background-image:url(/rosters/images/icons/money.png);
}

.money_add
{
	background-image:url(/rosters/images/icons/money_add.png);
}

.money_delete
{
	background-image:url(/rosters/images/icons/money_delete.png);
}

.money_dollar
{
	background-image:url(/rosters/images/icons/money_dollar.png);
}

.money_euro
{
	background-image:url(/rosters/images/icons/money_euro.png);
}

.money_pound
{
	background-image:url(/rosters/images/icons/money_pound.png);
}

.money_yen
{
	background-image:url(/rosters/images/icons/money_yen.png);
}

.monitor
{
	background-image:url(/rosters/images/icons/monitor.png);
}

.monitor_add
{
	background-image:url(/rosters/images/icons/monitor_add.png);
}

.monitor_delete
{
	background-image:url(/rosters/images/icons/monitor_delete.png);
}

.monitor_edit
{
	background-image:url(/rosters/images/icons/monitor_edit.png);
}

.monitor_error
{
	background-image:url(/rosters/images/icons/monitor_error.png);
}

.monitor_go
{
	background-image:url(/rosters/images/icons/monitor_go.png);
}

.monitor_lightning
{
	background-image:url(/rosters/images/icons/monitor_lightning.png);
}

.monitor_link
{
	background-image:url(/rosters/images/icons/monitor_link.png);
}

.mouse
{
	background-image:url(/rosters/images/icons/mouse.png);
}

.mouse_add
{
	background-image:url(/rosters/images/icons/mouse_add.png);
}

.mouse_delete
{
	background-image:url(/rosters/images/icons/mouse_delete.png);
}

.mouse_error
{
	background-image:url(/rosters/images/icons/mouse_error.png);
}

.music
{
	background-image:url(/rosters/images/icons/music.png);
}

.new
{
	background-image:url(/rosters/images/icons/new.png);
}

.newspaper
{
	background-image:url(/rosters/images/icons/newspaper.png);
}

.newspaper_add
{
	background-image:url(/rosters/images/icons/newspaper_add.png);
}

.newspaper_delete
{
	background-image:url(/rosters/images/icons/newspaper_delete.png);
}

.newspaper_go
{
	background-image:url(/rosters/images/icons/newspaper_go.png);
}

.newspaper_link
{
	background-image:url(/rosters/images/icons/newspaper_link.png);
}

.note
{
	background-image:url(/rosters/images/icons/note.png);
}

.note_add
{
	background-image:url(/rosters/images/icons/note_add.png);
}

.note_delete
{
	background-image:url(/rosters/images/icons/note_delete.png);
}

.note_edit
{
	background-image:url(/rosters/images/icons/note_edit.png);
}

.note_error
{
	background-image:url(/rosters/images/icons/note_error.png);
}

.note_go
{
	background-image:url(/rosters/images/icons/note_go.png);
}

.overlays
{
	background-image:url(/rosters/images/icons/overlays.png);
}

.package
{
	background-image:url(/rosters/images/icons/package.png);
}

.package_add
{
	background-image:url(/rosters/images/icons/package_add.png);
}

.package_delete
{
	background-image:url(/rosters/images/icons/package_delete.png);
}

.package_go
{
	background-image:url(/rosters/images/icons/package_go.png);
}

.package_green
{
	background-image:url(/rosters/images/icons/package_green.png);
}

.package_link
{
	background-image:url(/rosters/images/icons/package_link.png);
}

.page
{
	background-image:url(/rosters/images/icons/page.png);
}

.page_add
{
	background-image:url(/rosters/images/icons/page_add.png);
}

.page_attach
{
	background-image:url(/rosters/images/icons/page_attach.png);
}

.page_code
{
	background-image:url(/rosters/images/icons/page_code.png);
}

.page_copy
{
	background-image:url(/rosters/images/icons/page_copy.png);
}

.page_delete
{
	background-image:url(/rosters/images/icons/page_delete.png);
}

.page_edit
{
	background-image:url(/rosters/images/icons/page_edit.png);
}

.page_error
{
	background-image:url(/rosters/images/icons/page_error.png);
}

.page_excel
{
	background-image:url(/rosters/images/icons/page_excel.png);
}

.page_find
{
	background-image:url(/rosters/images/icons/page_find.png);
}

.page_gear
{
	background-image:url(/rosters/images/icons/page_gear.png);
}

.page_go
{
	background-image:url(/rosters/images/icons/page_go.png);
}

.page_green
{
	background-image:url(/rosters/images/icons/page_green.png);
}

.page_key
{
	background-image:url(/rosters/images/icons/page_key.png);
}

.page_lightning
{
	background-image:url(/rosters/images/icons/page_lightning.png);
}

.page_link
{
	background-image:url(/rosters/images/icons/page_link.png);
}

.page_paintbrush
{
	background-image:url(/rosters/images/icons/page_paintbrush.png);
}

.page_paste
{
	background-image:url(/rosters/images/icons/page_paste.png);
}

.page_red
{
	background-image:url(/rosters/images/icons/page_red.png);
}

.page_refresh
{
	background-image:url(/rosters/images/icons/page_refresh.png);
}

.page_save
{
	background-image:url(/rosters/images/icons/page_save.png);
}

.page_white
{
	background-image:url(/rosters/images/icons/page_white.png);
}

.page_white_acrobat
{
	background-image:url(/rosters/images/icons/page_white_acrobat.png);
}

.page_white_actionscript
{
	background-image:url(/rosters/images/icons/page_white_actionscript.png);
}

.page_white_add
{
	background-image:url(/rosters/images/icons/page_white_add.png);
}

.page_white_c
{
	background-image:url(/rosters/images/icons/page_white_c.png);
}

.page_white_camera
{
	background-image:url(/rosters/images/icons/page_white_camera.png);
}

.page_white_cd
{
	background-image:url(/rosters/images/icons/page_white_cd.png);
}

.page_white_code
{
	background-image:url(/rosters/images/icons/page_white_code.png);
}

.page_white_code_red
{
	background-image:url(/rosters/images/icons/page_white_code_red.png);
}

.page_white_coldfusion
{
	background-image:url(/rosters/images/icons/page_white_coldfusion.png);
}

.page_white_compressed
{
	background-image:url(/rosters/images/icons/page_white_compressed.png);
}

.page_white_copy
{
	background-image:url(/rosters/images/icons/page_white_copy.png);
}

.page_white_cplusplus
{
	background-image:url(/rosters/images/icons/page_white_cplusplus.png);
}

.page_white_csharp
{
	background-image:url(/rosters/images/icons/page_white_csharp.png);
}

.page_white_cup
{
	background-image:url(/rosters/images/icons/page_white_cup.png);
}

.page_white_database
{
	background-image:url(/rosters/images/icons/page_white_database.png);
}

.page_white_delete
{
	background-image:url(/rosters/images/icons/page_white_delete.png);
}

.page_white_dvd
{
	background-image:url(/rosters/images/icons/page_white_dvd.png);
}

.page_white_edit
{
	background-image:url(/rosters/images/icons/page_white_edit.png);
}

.page_white_error
{
	background-image:url(/rosters/images/icons/page_white_error.png);
}

.page_white_excel
{
	background-image:url(/rosters/images/icons/page_white_excel.png);
}

.page_white_find
{
	background-image:url(/rosters/images/icons/page_white_find.png);
}

.page_white_flash
{
	background-image:url(/rosters/images/icons/page_white_flash.png);
}

.page_white_freehand
{
	background-image:url(/rosters/images/icons/page_white_freehand.png);
}

.page_white_gear
{
	background-image:url(/rosters/images/icons/page_white_gear.png);
}

.page_white_get
{
	background-image:url(/rosters/images/icons/page_white_get.png);
}

.page_white_go
{
	background-image:url(/rosters/images/icons/page_white_go.png);
}

.page_white_h
{
	background-image:url(/rosters/images/icons/page_white_h.png);
}

.page_white_horizontal
{
	background-image:url(/rosters/images/icons/page_white_horizontal.png);
}

.page_white_key
{
	background-image:url(/rosters/images/icons/page_white_key.png);
}

.page_white_lightning
{
	background-image:url(/rosters/images/icons/page_white_lightning.png);
}

.page_white_link
{
	background-image:url(/rosters/images/icons/page_white_link.png);
}

.page_white_magnify
{
	background-image:url(/rosters/images/icons/page_white_magnify.png);
}

.page_white_medal
{
	background-image:url(/rosters/images/icons/page_white_medal.png);
}

.page_white_office
{
	background-image:url(/rosters/images/icons/page_white_office.png);
}

.page_white_paint
{
	background-image:url(/rosters/images/icons/page_white_paint.png);
}

.page_white_paintbrush
{
	background-image:url(/rosters/images/icons/page_white_paintbrush.png);
}

.page_white_paste
{
	background-image:url(/rosters/images/icons/page_white_paste.png);
}

.page_white_php
{
	background-image:url(/rosters/images/icons/page_white_php.png);
}

.page_white_picture
{
	background-image:url(/rosters/images/icons/page_white_picture.png);
}

.page_white_powerpoint
{
	background-image:url(/rosters/images/icons/page_white_powerpoint.png);
}

.page_white_put
{
	background-image:url(/rosters/images/icons/page_white_put.png);
}

.page_white_ruby
{
	background-image:url(/rosters/images/icons/page_white_ruby.png);
}

.page_white_stack
{
	background-image:url(/rosters/images/icons/page_white_stack.png);
}

.page_white_star
{
	background-image:url(/rosters/images/icons/page_white_star.png);
}

.page_white_swoosh
{
	background-image:url(/rosters/images/icons/page_white_swoosh.png);
}

.page_white_text
{
	background-image:url(/rosters/images/icons/page_white_text.png);
}

.page_white_text_width
{
	background-image:url(/rosters/images/icons/page_white_text_width.png);
}

.page_white_tux
{
	background-image:url(/rosters/images/icons/page_white_tux.png);
}

.page_white_vector
{
	background-image:url(/rosters/images/icons/page_white_vector.png);
}

.page_white_visualstudio
{
	background-image:url(/rosters/images/icons/page_white_visualstudio.png);
}

.page_white_width
{
	background-image:url(/rosters/images/icons/page_white_width.png);
}

.page_white_word
{
	background-image:url(/rosters/images/icons/page_white_word.png);
}

.page_white_world
{
	background-image:url(/rosters/images/icons/page_white_world.png);
}

.page_white_wrench
{
	background-image:url(/rosters/images/icons/page_white_wrench.png);
}

.page_white_zip
{
	background-image:url(/rosters/images/icons/page_white_zip.png);
}

.page_word
{
	background-image:url(/rosters/images/icons/page_word.png);
}

.page_world
{
	background-image:url(/rosters/images/icons/page_world.png);
}

.paintbrush
{
	background-image:url(/rosters/images/icons/paintbrush.png);
}

.paintcan
{
	background-image:url(/rosters/images/icons/paintcan.png);
}

.palette
{
	background-image:url(/rosters/images/icons/palette.png);
}

.paste_plain
{
	background-image:url(/rosters/images/icons/paste_plain.png);
}

.paste_word
{
	background-image:url(/rosters/images/icons/paste_word.png);
}

.pencil
{
	background-image:url(/rosters/images/icons/pencil.png);
}

.pencil_add
{
	background-image:url(/rosters/images/icons/pencil_add.png);
}

.pencil_delete
{
	background-image:url(/rosters/images/icons/pencil_delete.png);
}

.pencil_go
{
	background-image:url(/rosters/images/icons/pencil_go.png);
}

.phone
{
	background-image:url(/rosters/images/icons/phone.png);
}

.phone_add
{
	background-image:url(/rosters/images/icons/phone_add.png);
}

.phone_delete
{
	background-image:url(/rosters/images/icons/phone_delete.png);
}

.phone_sound
{
	background-image:url(/rosters/images/icons/phone_sound.png);
}

.photo
{
	background-image:url(/rosters/images/icons/photo.png);
}

.photo_add
{
	background-image:url(/rosters/images/icons/photo_add.png);
}

.photo_delete
{
	background-image:url(/rosters/images/icons/photo_delete.png);
}

.photo_link
{
	background-image:url(/rosters/images/icons/photo_link.png);
}

.photos
{
	background-image:url(/rosters/images/icons/photos.png);
}

.picture
{
	background-image:url(/rosters/images/icons/picture.png);
}

.picture_add
{
	background-image:url(/rosters/images/icons/picture_add.png);
}

.picture_delete
{
	background-image:url(/rosters/images/icons/picture_delete.png);
}

.picture_edit
{
	background-image:url(/rosters/images/icons/picture_edit.png);
}

.picture_empty
{
	background-image:url(/rosters/images/icons/picture_empty.png);
}

.picture_error
{
	background-image:url(/rosters/images/icons/picture_error.png);
}

.picture_go
{
	background-image:url(/rosters/images/icons/picture_go.png);
}

.picture_key
{
	background-image:url(/rosters/images/icons/picture_key.png);
}

.picture_link
{
	background-image:url(/rosters/images/icons/picture_link.png);
}

.picture_save
{
	background-image:url(/rosters/images/icons/picture_save.png);
}

.pictures
{
	background-image:url(/rosters/images/icons/pictures.png);
}

.pilcrow
{
	background-image:url(/rosters/images/icons/pilcrow.png);
}

.pill
{
	background-image:url(/rosters/images/icons/pill.png);
}

.pill_add
{
	background-image:url(/rosters/images/icons/pill_add.png);
}

.pill_delete
{
	background-image:url(/rosters/images/icons/pill_delete.png);
}

.pill_go
{
	background-image:url(/rosters/images/icons/pill_go.png);
}

.plugin
{
	background-image:url(/rosters/images/icons/plugin.png);
}

.plugin_add
{
	background-image:url(/rosters/images/icons/plugin_add.png);
}

.plugin_delete
{
	background-image:url(/rosters/images/icons/plugin_delete.png);
}

.plugin_disabled
{
	background-image:url(/rosters/images/icons/plugin_disabled.png);
}

.plugin_edit
{
	background-image:url(/rosters/images/icons/plugin_edit.png);
}

.plugin_error
{
	background-image:url(/rosters/images/icons/plugin_error.png);
}

.plugin_go
{
	background-image:url(/rosters/images/icons/plugin_go.png);
}

.plugin_link
{
	background-image:url(/rosters/images/icons/plugin_link.png);
}

.printer
{
	background-image:url(/rosters/images/icons/printer.png);
}

.printer_add
{
	background-image:url(/rosters/images/icons/printer_add.png);
}

.printer_delete
{
	background-image:url(/rosters/images/icons/printer_delete.png);
}

.printer_empty
{
	background-image:url(/rosters/images/icons/printer_empty.png);
}

.printer_error
{
	background-image:url(/rosters/images/icons/printer_error.png);
}

.rainbow
{
	background-image:url(/rosters/images/icons/rainbow.png);
}

.readme.html
{
	background-image:url(/rosters/images/icons/readme.html);
}

.readme.txt
{
	background-image:url(/rosters/images/icons/readme.txt);
}

.report
{
	background-image:url(/rosters/images/icons/report.png);
}

.report_add
{
	background-image:url(/rosters/images/icons/report_add.png);
}

.report_delete
{
	background-image:url(/rosters/images/icons/report_delete.png);
}

.report_disk
{
	background-image:url(/rosters/images/icons/report_disk.png);
}

.report_edit
{
	background-image:url(/rosters/images/icons/report_edit.png);
}

.report_go
{
	background-image:url(/rosters/images/icons/report_go.png);
}

.report_key
{
	background-image:url(/rosters/images/icons/report_key.png);
}

.report_link
{
	background-image:url(/rosters/images/icons/report_link.png);
}

.report_magnify
{
	background-image:url(/rosters/images/icons/report_magnify.png);
}

.report_picture
{
	background-image:url(/rosters/images/icons/report_picture.png);
}

.report_user
{
	background-image:url(/rosters/images/icons/report_user.png);
}

.report_word
{
	background-image:url(/rosters/images/icons/report_word.png);
}

.resultset_first
{
	background-image:url(/rosters/images/icons/resultset_first.png);
}

.resultset_last
{
	background-image:url(/rosters/images/icons/resultset_last.png);
}

.resultset_next
{
	background-image:url(/rosters/images/icons/resultset_next.png);
}

.resultset_previous
{
	background-image:url(/rosters/images/icons/resultset_previous.png);
}

.rosette
{
	background-image:url(/rosters/images/icons/rosette.png);
}

.rss
{
	background-image:url(/rosters/images/icons/rss.png);
}

.rss_add
{
	background-image:url(/rosters/images/icons/rss_add.png);
}

.rss_delete
{
	background-image:url(/rosters/images/icons/rss_delete.png);
}

.rss_go
{
	background-image:url(/rosters/images/icons/rss_go.png);
}

.rss_valid
{
	background-image:url(/rosters/images/icons/rss_valid.png);
}

.ruby
{
	background-image:url(/rosters/images/icons/ruby.png);
}

.ruby_add
{
	background-image:url(/rosters/images/icons/ruby_add.png);
}

.ruby_delete
{
	background-image:url(/rosters/images/icons/ruby_delete.png);
}

.ruby_gear
{
	background-image:url(/rosters/images/icons/ruby_gear.png);
}

.ruby_get
{
	background-image:url(/rosters/images/icons/ruby_get.png);
}

.ruby_go
{
	background-image:url(/rosters/images/icons/ruby_go.png);
}

.ruby_key
{
	background-image:url(/rosters/images/icons/ruby_key.png);
}

.ruby_link
{
	background-image:url(/rosters/images/icons/ruby_link.png);
}

.ruby_put
{
	background-image:url(/rosters/images/icons/ruby_put.png);
}

.script
{
	background-image:url(/rosters/images/icons/script.png);
}

.script_a
{
	background-image:url(/rosters/images/icons/script_a.png);
}

.script_add
{
	background-image:url(/rosters/images/icons/script_add.png);
}

.script_broken_link
{
	background-image:url(/rosters/images/icons/script_broken_link.png);
}

.script_code
{
	background-image:url(/rosters/images/icons/script_code.png);
}

.script_code_red
{
	background-image:url(/rosters/images/icons/script_code_red.png);
}

.script_delete
{
	background-image:url(/rosters/images/icons/script_delete.png);
}

.script_edit
{
	background-image:url(/rosters/images/icons/script_edit.png);
}

.script_error
{
	background-image:url(/rosters/images/icons/script_error.png);
}

.script_eye
{
	background-image:url(/rosters/images/icons/script_eye.png);
}

.script_gear
{
	background-image:url(/rosters/images/icons/script_gear.png);
}

.script_go
{
	background-image:url(/rosters/images/icons/script_go.png);
}

.script_key
{
	background-image:url(/rosters/images/icons/script_key.png);
}

.script_lightning
{
	background-image:url(/rosters/images/icons/script_lightning.png);
}

.script_link
{
	background-image:url(/rosters/images/icons/script_link.png);
}

.script_palette
{
	background-image:url(/rosters/images/icons/script_palette.png);
}

.script_save
{
	background-image:url(/rosters/images/icons/script_save.png);
}

.script_search
{
	background-image:url(/rosters/images/icons/script_search.png);
}

.server
{
	background-image:url(/rosters/images/icons/server.png);
}

.server_add
{
	background-image:url(/rosters/images/icons/server_add.png);
}

.server_chart
{
	background-image:url(/rosters/images/icons/server_chart.png);
}

.server_compressed
{
	background-image:url(/rosters/images/icons/server_compressed.png);
}

.server_connect
{
	background-image:url(/rosters/images/icons/server_connect.png);
}

.server_database
{
	background-image:url(/rosters/images/icons/server_database.png);
}

.server_database_over
{
	background-image:url(/rosters/images/icons/server_database_over.png);
}

.server_database_over.gif
{
	background-image:url(/rosters/images/icons/server_database_over.gif);
}

.server_delete
{
	background-image:url(/rosters/images/icons/server_delete.png);
}

.server_edit
{
	background-image:url(/rosters/images/icons/server_edit.png);
}

.server_error
{
	background-image:url(/rosters/images/icons/server_error.png);
}

.server_go
{
	background-image:url(/rosters/images/icons/server_go.png);
}

.server_key
{
	background-image:url(/rosters/images/icons/server_key.png);
}

.server_lightning
{
	background-image:url(/rosters/images/icons/server_lightning.png);
}

.server_link
{
	background-image:url(/rosters/images/icons/server_link.png);
}

.server_uncompressed
{
	background-image:url(/rosters/images/icons/server_uncompressed.png);
}

.shading
{
	background-image:url(/rosters/images/icons/shading.png);
}

.shape_align_bottom
{
	background-image:url(/rosters/images/icons/shape_align_bottom.png);
}

.shape_align_center
{
	background-image:url(/rosters/images/icons/shape_align_center.png);
}

.shape_align_left
{
	background-image:url(/rosters/images/icons/shape_align_left.png);
}

.shape_align_middle
{
	background-image:url(/rosters/images/icons/shape_align_middle.png);
}

.shape_align_right
{
	background-image:url(/rosters/images/icons/shape_align_right.png);
}

.shape_align_top
{
	background-image:url(/rosters/images/icons/shape_align_top.png);
}

.shape_flip_horizontal
{
	background-image:url(/rosters/images/icons/shape_flip_horizontal.png);
}

.shape_flip_vertical
{
	background-image:url(/rosters/images/icons/shape_flip_vertical.png);
}

.shape_group
{
	background-image:url(/rosters/images/icons/shape_group.png);
}

.shape_handles
{
	background-image:url(/rosters/images/icons/shape_handles.png);
}

.shape_move_back
{
	background-image:url(/rosters/images/icons/shape_move_back.png);
}

.shape_move_backwards
{
	background-image:url(/rosters/images/icons/shape_move_backwards.png);
}

.shape_move_forwards
{
	background-image:url(/rosters/images/icons/shape_move_forwards.png);
}

.shape_move_front
{
	background-image:url(/rosters/images/icons/shape_move_front.png);
}

.shape_rotate_anticlockwise
{
	background-image:url(/rosters/images/icons/shape_rotate_anticlockwise.png);
}

.shape_rotate_clockwise
{
	background-image:url(/rosters/images/icons/shape_rotate_clockwise.png);
}

.shape_square
{
	background-image:url(/rosters/images/icons/shape_square.png);
}

.shape_square_add
{
	background-image:url(/rosters/images/icons/shape_square_add.png);
}

.shape_square_delete
{
	background-image:url(/rosters/images/icons/shape_square_delete.png);
}

.shape_square_edit
{
	background-image:url(/rosters/images/icons/shape_square_edit.png);
}

.shape_square_error
{
	background-image:url(/rosters/images/icons/shape_square_error.png);
}

.shape_square_go
{
	background-image:url(/rosters/images/icons/shape_square_go.png);
}

.shape_square_key
{
	background-image:url(/rosters/images/icons/shape_square_key.png);
}

.shape_square_link
{
	background-image:url(/rosters/images/icons/shape_square_link.png);
}

.shape_ungroup
{
	background-image:url(/rosters/images/icons/shape_ungroup.png);
}

.shield
{
	background-image:url(/rosters/images/icons/shield.png);
}

.shield_add
{
	background-image:url(/rosters/images/icons/shield_add.png);
}

.shield_delete
{
	background-image:url(/rosters/images/icons/shield_delete.png);
}

.shield_go
{
	background-image:url(/rosters/images/icons/shield_go.png);
}

.sitemap
{
	background-image:url(/rosters/images/icons/sitemap.png);
}

.sitemap_color
{
	background-image:url(/rosters/images/icons/sitemap_color.png);
}

.sound
{
	background-image:url(/rosters/images/icons/sound.png);
}

.sound_add
{
	background-image:url(/rosters/images/icons/sound_add.png);
}

.sound_delete
{
	background-image:url(/rosters/images/icons/sound_delete.png);
}

.sound_low
{
	background-image:url(/rosters/images/icons/sound_low.png);
}

.sound_mute
{
	background-image:url(/rosters/images/icons/sound_mute.png);
}

.sound_none
{
	background-image:url(/rosters/images/icons/sound_none.png);
}

.spellcheck
{
	background-image:url(/rosters/images/icons/spellcheck.png);
}

.sport_8ball
{
	background-image:url(/rosters/images/icons/sport_8ball.png);
}

.sport_basketball
{
	background-image:url(/rosters/images/icons/sport_basketball.png);
}

.sport_football
{
	background-image:url(/rosters/images/icons/sport_football.png);
}

.sport_golf
{
	background-image:url(/rosters/images/icons/sport_golf.png);
}

.sport_raquet
{
	background-image:url(/rosters/images/icons/sport_raquet.png);
}

.sport_shuttlecock
{
	background-image:url(/rosters/images/icons/sport_shuttlecock.png);
}

.sport_soccer
{
	background-image:url(/rosters/images/icons/sport_soccer.png);
}

.sport_tennis
{
	background-image:url(/rosters/images/icons/sport_tennis.png);
}

.star
{
	background-image:url(/rosters/images/icons/star.png);
}

.status_away
{
	background-image:url(/rosters/images/icons/status_away.png);
}

.status_busy
{
	background-image:url(/rosters/images/icons/status_busy.png);
}

.status_offline
{
	background-image:url(/rosters/images/icons/status_offline.png);
}

.status_online
{
	background-image:url(/rosters/images/icons/status_online.png);
}

.stop
{
	background-image:url(/rosters/images/icons/stop.png);
}

.style
{
	background-image:url(/rosters/images/icons/style.png);
}

.style_add
{
	background-image:url(/rosters/images/icons/style_add.png);
}

.style_delete
{
	background-image:url(/rosters/images/icons/style_delete.png);
}

.style_edit
{
	background-image:url(/rosters/images/icons/style_edit.png);
}

.style_go
{
	background-image:url(/rosters/images/icons/style_go.png);
}

.sum
{
	background-image:url(/rosters/images/icons/sum.png);
}

.tab
{
	background-image:url(/rosters/images/icons/tab.png);
}

.tab_add
{
	background-image:url(/rosters/images/icons/tab_add.png);
}

.tab_delete
{
	background-image:url(/rosters/images/icons/tab_delete.png);
}

.tab_edit
{
	background-image:url(/rosters/images/icons/tab_edit.png);
}

.tab_go
{
	background-image:url(/rosters/images/icons/tab_go.png);
}

.table
{
	background-image:url(/rosters/images/icons/table.png);
}

.table_add
{
	background-image:url(/rosters/images/icons/table_add.png);
}

.table_delete
{
	background-image:url(/rosters/images/icons/table_delete.png);
}

.table_edit
{
	background-image:url(/rosters/images/icons/table_edit.png);
}

.table_error
{
	background-image:url(/rosters/images/icons/table_error.png);
}

.table_gear
{
	background-image:url(/rosters/images/icons/table_gear.png);
}

.table_go
{
	background-image:url(/rosters/images/icons/table_go.png);
}

.table_key
{
	background-image:url(/rosters/images/icons/table_key.png);
}

.table_lightning
{
	background-image:url(/rosters/images/icons/table_lightning.png);
}

.table_link
{
	background-image:url(/rosters/images/icons/table_link.png);
}

.table_multiple
{
	background-image:url(/rosters/images/icons/table_multiple.png);
}

.table_refresh
{
	background-image:url(/rosters/images/icons/table_refresh.png);
}

.table_relationship
{
	background-image:url(/rosters/images/icons/table_relationship.png);
}

.table_row_delete
{
	background-image:url(/rosters/images/icons/table_row_delete.png);
}

.table_row_insert
{
	background-image:url(/rosters/images/icons/table_row_insert.png);
}

.table_save
{
	background-image:url(/rosters/images/icons/table_save.png);
}

.table_sort
{
	background-image:url(/rosters/images/icons/table_sort.png);
}

.tag
{
	background-image:url(/rosters/images/icons/tag.png);
}

.tag_blue
{
	background-image:url(/rosters/images/icons/tag_blue.png);
}

.tag_blue_add
{
	background-image:url(/rosters/images/icons/tag_blue_add.png);
}

.tag_blue_delete
{
	background-image:url(/rosters/images/icons/tag_blue_delete.png);
}

.tag_blue_edit
{
	background-image:url(/rosters/images/icons/tag_blue_edit.png);
}

.tag_green
{
	background-image:url(/rosters/images/icons/tag_green.png);
}

.tag_orange
{
	background-image:url(/rosters/images/icons/tag_orange.png);
}

.tag_pink
{
	background-image:url(/rosters/images/icons/tag_pink.png);
}

.tag_purple
{
	background-image:url(/rosters/images/icons/tag_purple.png);
}

.tag_red
{
	background-image:url(/rosters/images/icons/tag_red.png);
}

.tag_yellow
{
	background-image:url(/rosters/images/icons/tag_yellow.png);
}

.telephone
{
	background-image:url(/rosters/images/icons/telephone.png);
}

.telephone_add
{
	background-image:url(/rosters/images/icons/telephone_add.png);
}

.telephone_delete
{
	background-image:url(/rosters/images/icons/telephone_delete.png);
}

.telephone_edit
{
	background-image:url(/rosters/images/icons/telephone_edit.png);
}

.telephone_error
{
	background-image:url(/rosters/images/icons/telephone_error.png);
}

.telephone_go
{
	background-image:url(/rosters/images/icons/telephone_go.png);
}

.telephone_key
{
	background-image:url(/rosters/images/icons/telephone_key.png);
}

.telephone_link
{
	background-image:url(/rosters/images/icons/telephone_link.png);
}

.television
{
	background-image:url(/rosters/images/icons/television.png);
}

.television_add
{
	background-image:url(/rosters/images/icons/television_add.png);
}

.television_delete
{
	background-image:url(/rosters/images/icons/television_delete.png);
}

.text_align_center
{
	background-image:url(/rosters/images/icons/text_align_center.png);
}

.text_align_justify
{
	background-image:url(/rosters/images/icons/text_align_justify.png);
}

.text_align_left
{
	background-image:url(/rosters/images/icons/text_align_left.png);
}

.text_align_right
{
	background-image:url(/rosters/images/icons/text_align_right.png);
}

.text_allcaps
{
	background-image:url(/rosters/images/icons/text_allcaps.png);
}

.text_bold
{
	background-image:url(/rosters/images/icons/text_bold.png);
}

.text_columns
{
	background-image:url(/rosters/images/icons/text_columns.png);
}

.text_dropcaps
{
	background-image:url(/rosters/images/icons/text_dropcaps.png);
}

.text_heading_1
{
	background-image:url(/rosters/images/icons/text_heading_1.png);
}

.text_heading_2
{
	background-image:url(/rosters/images/icons/text_heading_2.png);
}

.text_heading_3
{
	background-image:url(/rosters/images/icons/text_heading_3.png);
}

.text_heading_4
{
	background-image:url(/rosters/images/icons/text_heading_4.png);
}

.text_heading_5
{
	background-image:url(/rosters/images/icons/text_heading_5.png);
}

.text_heading_6
{
	background-image:url(/rosters/images/icons/text_heading_6.png);
}

.text_horizontalrule
{
	background-image:url(/rosters/images/icons/text_horizontalrule.png);
}

.text_indent
{
	background-image:url(/rosters/images/icons/text_indent.png);
}

.text_indent_remove
{
	background-image:url(/rosters/images/icons/text_indent_remove.png);
}

.text_italic
{
	background-image:url(/rosters/images/icons/text_italic.png);
}

.text_kerning
{
	background-image:url(/rosters/images/icons/text_kerning.png);
}

.text_letter_omega
{
	background-image:url(/rosters/images/icons/text_letter_omega.png);
}

.text_letterspacing
{
	background-image:url(/rosters/images/icons/text_letterspacing.png);
}

.text_linespacing
{
	background-image:url(/rosters/images/icons/text_linespacing.png);
}

.text_list_bullets
{
	background-image:url(/rosters/images/icons/text_list_bullets.png);
}

.text_list_numbers
{
	background-image:url(/rosters/images/icons/text_list_numbers.png);
}

.text_lowercase
{
	background-image:url(/rosters/images/icons/text_lowercase.png);
}

.text_padding_bottom
{
	background-image:url(/rosters/images/icons/text_padding_bottom.png);
}

.text_padding_left
{
	background-image:url(/rosters/images/icons/text_padding_left.png);
}

.text_padding_right
{
	background-image:url(/rosters/images/icons/text_padding_right.png);
}

.text_padding_top
{
	background-image:url(/rosters/images/icons/text_padding_top.png);
}

.text_replace
{
	background-image:url(/rosters/images/icons/text_replace.png);
}

.text_signature
{
	background-image:url(/rosters/images/icons/text_signature.png);
}

.text_smallcaps
{
	background-image:url(/rosters/images/icons/text_smallcaps.png);
}

.text_strikethrough
{
	background-image:url(/rosters/images/icons/text_strikethrough.png);
}

.text_subscript
{
	background-image:url(/rosters/images/icons/text_subscript.png);
}

.text_superscript
{
	background-image:url(/rosters/images/icons/text_superscript.png);
}

.text_underline
{
	background-image:url(/rosters/images/icons/text_underline.png);
}

.text_uppercase
{
	background-image:url(/rosters/images/icons/text_uppercase.png);
}

.textfield
{
	background-image:url(/rosters/images/icons/textfield.png);
}

.textfield_add
{
	background-image:url(/rosters/images/icons/textfield_add.png);
}

.textfield_delete
{
	background-image:url(/rosters/images/icons/textfield_delete.png);
}

.textfield_key
{
	background-image:url(/rosters/images/icons/textfield_key.png);
}

.textfield_rename
{
	background-image:url(/rosters/images/icons/textfield_rename.png);
}

.thumb_down
{
	background-image:url(/rosters/images/icons/thumb_down.png);
}

.thumb_up
{
	background-image:url(/rosters/images/icons/thumb_up.png);
}

.tick
{
	background-image:url(/rosters/images/icons/tick.png);
}

.time
{
	background-image:url(/rosters/images/icons/time.png);
}

.time_add
{
	background-image:url(/rosters/images/icons/time_add.png);
}

.time_delete
{
	background-image:url(/rosters/images/icons/time_delete.png);
}

.time_go
{
	background-image:url(/rosters/images/icons/time_go.png);
}

.timeline_marker
{
	background-image:url(/rosters/images/icons/timeline_marker.png);
}

.transmit
{
	background-image:url(/rosters/images/icons/transmit.png);
}

.transmit_add
{
	background-image:url(/rosters/images/icons/transmit_add.png);
}

.transmit_blue
{
	background-image:url(/rosters/images/icons/transmit_blue.png);
}

.transmit_delete
{
	background-image:url(/rosters/images/icons/transmit_delete.png);
}

.transmit_edit
{
	background-image:url(/rosters/images/icons/transmit_edit.png);
}

.transmit_error
{
	background-image:url(/rosters/images/icons/transmit_error.png);
}

.transmit_go
{
	background-image:url(/rosters/images/icons/transmit_go.png);
}

.tux
{
	background-image:url(/rosters/images/icons/tux.png);
}

.user
{
	background-image:url(/rosters/images/icons/user.png);
}

.user_add
{
	background-image:url(/rosters/images/icons/user_add.png);
}

.user_comment
{
	background-image:url(/rosters/images/icons/user_comment.png);
}

.user_delete
{
	background-image:url(/rosters/images/icons/user_delete.png);
}

.user_edit
{
	background-image:url(/rosters/images/icons/user_edit.png);
}

.user_female
{
	background-image:url(/rosters/images/icons/user_female.png);
}

.user_go
{
	background-image:url(/rosters/images/icons/user_go.png);
}

.user_gray
{
	background-image:url(/rosters/images/icons/user_gray.png);
}

.user_gray_a
{
	background-image:url(/rosters/images/icons/user_gray_a.png);
}

.user_green
{
	background-image:url(/rosters/images/icons/user_green.png);
}

.user_orange
{
	background-image:url(/rosters/images/icons/user_orange.png);
}

.user_red
{
	background-image:url(/rosters/images/icons/user_red.png);
}

.user_suit
{
	background-image:url(/rosters/images/icons/user_suit.png);
}

.vcard
{
	background-image:url(/rosters/images/icons/vcard.png);
}

.vcard_add
{
	background-image:url(/rosters/images/icons/vcard_add.png);
}

.vcard_delete
{
	background-image:url(/rosters/images/icons/vcard_delete.png);
}

.vcard_edit
{
	background-image:url(/rosters/images/icons/vcard_edit.png);
}

.vector
{
	background-image:url(/rosters/images/icons/vector.png);
}

.vector_add
{
	background-image:url(/rosters/images/icons/vector_add.png);
}

.vector_delete
{
	background-image:url(/rosters/images/icons/vector_delete.png);
}

.wand
{
	background-image:url(/rosters/images/icons/wand.png);
}

.weather_clouds
{
	background-image:url(/rosters/images/icons/weather_clouds.png);
}

.weather_cloudy
{
	background-image:url(/rosters/images/icons/weather_cloudy.png);
}

.weather_lightning
{
	background-image:url(/rosters/images/icons/weather_lightning.png);
}

.weather_rain
{
	background-image:url(/rosters/images/icons/weather_rain.png);
}

.weather_snow
{
	background-image:url(/rosters/images/icons/weather_snow.png);
}

.weather_sun
{
	background-image:url(/rosters/images/icons/weather_sun.png);
}

.webcam
{
	background-image:url(/rosters/images/icons/webcam.png);
}

.webcam_add
{
	background-image:url(/rosters/images/icons/webcam_add.png);
}

.webcam_delete
{
	background-image:url(/rosters/images/icons/webcam_delete.png);
}

.webcam_error
{
	background-image:url(/rosters/images/icons/webcam_error.png);
}

.wikipedia
{
	background-image:url(/images/social_networking/wordpress_32.png);
}

.world
{
	background-image:url(/rosters/images/icons/world.png);
}

.world_add
{
	background-image:url(/rosters/images/icons/world_add.png);
}

.world_delete
{
	background-image:url(/rosters/images/icons/world_delete.png);
}

.world_edit
{
	background-image:url(/rosters/images/icons/world_edit.png);
}

.world_go
{
	background-image:url(/rosters/images/icons/world_go.png);
}

.world_link
{
	background-image:url(/rosters/images/icons/world_link.png);
}

.wrench
{
	background-image:url(/rosters/images/icons/wrench.png);
}

.wrench_orange
{
	background-image:url(/rosters/images/icons/wrench_orange.png);
}

.xhtml
{
	background-image:url(/rosters/images/icons/xhtml.png);
}

.xhtml_add
{
	background-image:url(/rosters/images/icons/xhtml_add.png);
}

.xhtml_delete
{
	background-image:url(/rosters/images/icons/xhtml_delete.png);
}

.xhtml_go
{
	background-image:url(/rosters/images/icons/xhtml_go.png);
}

.xhtml_valid
{
	background-image:url(/rosters/images/icons/xhtml_valid.png);
}

.zoom
{
	background-image:url(/rosters/images/icons/zoom.png);
}

.zoom_in
{
	background-image:url(/rosters/images/icons/zoom_in.png);
}

.zoom_out
{
	background-image:url(/rosters/images/icons/zoom_out.png);
}