@mixin iconed {
    background-position: center left;
    background-repeat: no-repeat;
    padding: 2px 0 2px 20px;
}

@mixin metadata {
    color: #666;
    font-weight: 400;
    margin: 0;
}
/*
.backdrop {
    background: #ffaa00 url(images/controlpanelbackground.gif) repeat;
    margin-top: 10px;
    padding-left: 1px;
    padding-bottom: 1px;
    clear: both;
}

.banner2 {
    background: #555;
    border: 2px ridge #000;
    border-width: 2px 0 2px 0;
    color: #fff;
    font-size: 2.0em;
    margin: 0;
    padding: 3px;
    text-align: right;
    width: 97%;
}

.banner a, .banner2 a {
    text-align: right;
    color: #fff;
    border: 0;
}

.button2 {
    border: 1px outset #2C3797;
    margin: 0;
    padding: 0;
    background: #566047;
    width: 50px;
    height: 20px;
    color: #fff;
    font-size: 1.2em;
}

.data {
    background: transparent;
    margin: 2px;
    padding: 3px;
    border: 2px ridge #333;
    width: 100%;
}

.data input, .data select {
    border: 2px inset #000;
    padding: 0 2px 0 2px;
    margin-left: 5px;
}

.error {
    color: red;
    border: 1px solid red;
}

.inactive {
    color: #888;
    font-style: italic;
}

#noscript {
    border: 1px solid #f00;
    background: #fee;
    color: #300;
    margin: 15px;
}

#persinfo {
    // the container table for all basic user information. 
}

#picture {
    // A div containing the user's picture
    float: left;
    background: transparent;
    display: block;
    font-size: .8em;
}

#picture img {
    border: 1px solid #000;
}

.debugmsg {
    color: #666;
    margin: 1pt;
}

.debugsql {
    background-color: #eef;
    border: 1px dotted #ccf;
}

.empty {
    color: #333;
    font-style: oblique;
}

.list .notes {
    color: #666;
    float: right;
}

.mysql_breakword {
    color: #009;
    font-weight: 700;
}

.mysql_keyword {
    color: #00A;
}
*/

.rosters_public_list, .rosters_intranet_list {
    h1,h2,h3,h4,h5,h6 {
        margin: 5px 0;
        padding: 0;
    }
    hr {
        visibility: hidden;
        clear: right;
        margin: 0;
    }
    p {
        margin-bottom: 0;
        margin-top: 0;
        padding: 5px;
    }
    .delimiter{
            border-top: 1px solid #ccc;
    font-weight: bold;
    color: #2a3a89;
    background-color: #eee;
    }
    .iconed {
        @include iconed;
    }
    .list {
        background-repeat: no-repeat;
        margin: 0 10px;
        padding: 2px 0;
        margin-left: 10px;
        max-width: 500px;
        margin-top: 10px;
        width: 100%;
        h2 {
            background-color: #2a3a89;
            color: #FFF;
            margin: 0;
            padding: 5px;
        }
    }
    &.L1 .list_title {
        background-color: #2a3a89 !important;
        color: #FFF;
        font-size: medium;
        font-weight: 700;
        margin: 2px 0;
        padding: 5px;
        border-radius: 2px;
        a, a:visited{
                color: #FFF;
        }
    }
    &.L2 .list_title {
        background-color: transparent !important;
        color: black !important;
        font-size: medium;
        margin: 2px 0;
        padding: 5px;
        border-radius: 2px;
                a, a:visited{
                color: #FFF;
        }
    }
    .list_description {
        font-style: oblique;
        white-space: pre;
        margin: 3px 0;
        padding: 0 5px;
    }
    .metadata {
        @include metadata;
        margin-left: 10px;
        max-width: 500px;
    }
    .people {
        background: transparent url(/rosters/images/icons/user.png) no-repeat center left;
        margin: 2px 5px;
        padding: 0 20px;
    }
    .regiongraphic {
        float: right;
        width: 20%;
        img {
            max-width: 50px;
            padding: 5px;
        }
    }
    .regionlabel {
        color: #2a3a89;
        font-weight: 700;
        margin: 0;
    }
    .scope {
        padding: 0 5px;
    }
    .showborder {
        background-color: #FFF;
        border: 1px dotted #eee;
        border-radius: 3px;
        margin-left: 5px;
        padding: 5px;
    }
}

.rosters_public_record, .rosters_intranet_record {
    h1,h2,h3,h4,h5,h6 {
        margin: 5px 0;
        padding: 0;
    }
    p {
        &.hang {
            margin-bottom: 0;
            margin-left: 3em;
            margin-top: 0;
            text-indent: -3em;
        }
    }
    background-color: #fff;
    max-width: 16px;
    vertical-align: bottom;
    margin-right: 3px;
    .header {
        font-weight: 700;
    }
    .iconed {
        @include iconed;
    }
    .intranet {
        border: 1px dotted #2a3a89;
        border-radius: 2px;
        background-color: #eef;
        padding-left: 2px;
        padding-right: 2px;
    }
    .metadata,.roledescription {
        @include metadata;
    }
    .person {
        background-image: none;
    }
    .person_name {
        background-color: #2a3a89 !important;
        color: #FFF;
        font-size: medium;
        font-weight: 700;
        margin: 2px 0;
        padding: 5px;
        border-radius: 2px;
    }
    .person_photo {
        border: 1px solid #000;
        border-radius: 2px;
        float: right;
        margin: 10px;
        max-width: 20%;
    }
    .positions {
        margin-left: 10px;
        .position, .primary_position {
            border: 1px dotted #ccc;
            border-radius: 3px;
            padding: 5px;
        }
        .position_address, .position_phone {
            margin: 0;
            padding: 4px 0;
        }
        .position_date {
            th {
                font-weight: 400;
            }
        }
        .primary_position {
            background-color: #ffe;
        }
    }
}

.rosters_intranet_list {
    .list {
        h2 {
            background-color: #333;
            border: 1px solid #000;
            span.metadata {
                color: #000;
            }
        }
    }
    .list_description {
        &:after {
            content: "(intranet only)";
        }
    }
}


