#noscript
{
	background:#fa0;
	border:1px solid #0D3255;
	display:none;
	margin:15px;
	padding-left:40%;
}

#roster
{
	width:100%;
}

#skipcontent img
{
	border:0;
}

.add
{
	background:transparent url(/rosters/images/icons/add.png) no-repeat center left;
	padding-left:20px;
}

.addperson
{
	background:transparent url(/rosters/images/icons/add.png) no-repeat center left;
}

.addPosition,button.addPosition
{
	background:transparent url(/rosters/images/icons/cog_add.png) no-repeat center left;
}

.addrobot
{
	background:transparent url(/rosters/images/icons/drive_add.png) no-repeat center left;
	padding-left:20px;
}

.addrole
{
	background:transparent url(/rosters/images/icons/tag_blue_add.png) no-repeat center left;
	padding-left:20px;
}

h1.banner.iconed
{
	padding-left:20px;
}

.bold
{
	font-weight: bold;
}

.border-container
{
	border:10px solid #E7E7E7;
	border-width:0 10px;
}

.buffer
{
	margin:0;
	padding:0;
}

.changeemergency
{
	background:transparent url(/rosters/images/icons/table_error.png) no-repeat center left;
	padding-left:20px;
}

.changepassword
{
	background:transparent url(/rosters/images/icons/lock.png) no-repeat center left;
	padding-left:20px;
}

.changepicture
{
	background:transparent url(/rosters/images/icons/camera.png) no-repeat center left;
	padding-left:20px;
}

.createNewAccount,button.createNewAccount
{
	background-image:url(/rosters/images/icons/comments_add.png);
}

.createNewList
{
	background-image:url(/rosters/images/icons/script_add.png);
}

.createNewOrganization
{
	background-image:url(/rosters/images/icons/world_add.png);
}

.createNewPerson
{
	background-image:url(/rosters/images/icons/vcard_add.png);
}

.createNewPosition,button.createNewPosition
{
	background-image:url(/rosters/images/icons/cog_add.png);
}

.createNewRole,button.createNewRole
{
	background-image:url(/rosters/images/icons/tag_blue_add.png);
}

.createsummary th
{
	font-weight:700;
}

.createsummary td
{
	padding:5px;
}

.delete
{
	background:transparent url(/rosters/images/icons/delete.png) no-repeat center left;
	padding-left:20px;
}

.deleteAccount,button.deleteAccount
{
	background-image:url(/rosters/images/icons/comments_delete.png);
}

.deleteRole,button.deleteRole
{
	background-image:url(/rosters/images/icons/tag_blue_delete.png);
}

.edit
{
	background:transparent url(/rosters/images/icons/page_white_edit.png) no-repeat center left;
}

.editList
{
	background-image:url(/rosters/images/icons/script_edit.png);
}

.editOrganization
{
	background-image:url(/rosters/images/icons/world_edit.png);
}

.editPerson
{
	background-image:url(/rosters/images/icons/vcard_edit.png);
}

.editPosition
{
	background-image:url(/rosters/images/icons/cog_edit.png);
}

.editRole
{
	background-image:url(/rosters/images/icons/tag_blue_edit.png);
}

.error
{
	color:red !important;
}

.x-toolbar-cell .error
{
	background-image:url(/rosters/images/icons/exclamation.png);
	background-position:center left;
	background-repeat:no-repeat;
	font-weight:700;
	margin-left:20px !important;
	padding-left:20px !important;
}

.even
{
	background-color:#eef;
}

.find
{
	background:transparent url(/rosters/images/icons/magnifier.png) no-repeat center left;
}

.findByListName
{
	background-image:url(/rosters/images/icons/script.png);
}

.findByPersonName
{
	background-image:url(/rosters/images/icons/vcard.png);
}

.findByOrganization
{
	background-image:url(/rosters/images/icons/world.png);
}

.findByPosition
{
	background-image:url(/rosters/images/icons/cog.png);
}

.findByRole
{
	background-image:url(/rosters/images/icons/tag_blue.png);
}
.groupmenu{
	background-color: #2A3A89;
	color: white;
	font-weight: bold;
	padding: 5px 2px;
}
p.iconed,.iconed,a.help_example,a.wikilink
{
	background-position:top left;
	background-repeat:no-repeat;
	padding:2px 0 2px 20px;
}

p.iconed
{
	padding-left:100px !important;
}

.info
{
	color:#00a;
}

.main
{
	background:transparent url(/rosters/images/icons/star.png) no-repeat center right;
	margin-left:10px;
}

.menulabel
{
	color:#2A3A89;
	padding-left:5px;
	padding-top:3px;
}

.menutopspacer
{
	background-color:#2A3A89;
	height:100px;
}

.metadata
{
	color:#666;
	font-style:italic;
}

.ext-el-mask-msg.x-mask
{
	background:#2A3A89 url(/rosters/images/waiting.gif) no-repeat center left;
	margin:5px;
}

.ext-el-mask-msg.x-mask div
{
	margin:2px 2px 2px 33px;
}

.notice
{
	color:#2A3A89;
	font-weight:700;
}

.patterned
{
	background-image:url(/rosters/images/controlpanelbackground.gif);
}

.pseudolink:hover
{
	color:#00F !important;
	cursor:pointer;
	text-decoration:underline;
}

.dirtysave button
{
	background-image:url(/rosters/images/icons/server_database_over.gif) !important;
	color:red !important;
	font-weight:700 !important;
}

button.person
{
	background:transparent url(/rosters/images/icons/user.png) no-repeat center left;
	min-height:20px;
	padding-left:25px;
}

.publicprofile
{
	background:transparent url(/rosters/images/icons/world.png) no-repeat center left;
	padding-left:20px;
}

.MenuPanel
{
	background-color:#D0DEF0;
}

.MenuPanel li
{
	margin:4px 0 4px 4px;
	padding:3px;
}

.textfield_add
{
	background:#eef url(/rosters/images/icons/textfield_add.png) no-repeat center left;
	border:2px outset #aaa;
	margin:0 5px;
	padding:2px 10px;
}

.tux
{
	background:transparent url(/rosters/images/icons/user.png) no-repeat center left;
}

.warning
{
	color:#FF0;
}

a.help_example
{
	background-image:url(/rosters/images/icons/bullet_go.png);
	padding-left:16px;
}

a.wikilink
{
	background-image:url(/rosters/images/icons/wiki_link.png);
	background-position:left top;
	padding-left:16px;
}

.x-layout-split
{
	background-color:#99BBE8;
	border:1px outset #999;
	border-width:0 1px;
}

.x-combo-list-item
{
	white-space:pre-wrap;
}

ul.x-tab-strip-top
{
	background-color:#BBB !important;
	background-image:none !important;
	border:1px inset #BBB;
}

button.back
{
	background:transparent url(/rosters/images/icons/bullet_back.png) no-repeat;
}

button.reset,.reset,.reset .x-menu-item-icon
{
	background:transparent url(/rosters/images/icons/table_refresh.png) no-repeat;
}

button.save,.save,.save .x-menu-item-icon
{
	background:transparent url(/rosters/images/icons/server_database.png) no-repeat;
}

button.save_highlight,.save_highlight
{
	background:transparent url(/rosters/images/icons/server_database_over.gif) no-repeat;
}

.deleteList
{
	background:transparent url(/rosters/images/icons/delete.png) no-repeat;
}

.listClean
{
	background:transparent url(/rosters/images/icons/script_code_red.png) no-repeat;
}

.blocklabel
{
	display:block;
}

.editable
{
	background-image:url(/rosters/images/icons/bullet_pencil.png);
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:20px;
}

h1.banner,.createsummary caption
{
	background-color:#2A3A89;
	color:#FFF;
}

.x-tab-strip-inner .FindPanelIcon, .x-tab-strip-inner .CreatePanelIcon, 
.x-tab-strip-inner .EditPanelIcon, .x-tab-strip-inner .ListPanelIcon{	
    padding-right: 5px !important;
    border-radius: 4px;
}
.x-tab-strip-inner span.FindPanelIcon{
	color: #115 !important;
}

.x-tab-strip-inner span.CreatePanelIcon{
	color: #153 !important;
}

.x-tab-strip-inner span.EditPanelIcon{
	color: #135 !important;
}

.x-tab-strip-inner span.ListPanelIcon{
	color: #511 !important;
}