@import "base";

@mixin intranet {
    background-color: #fee;
    color: red;
    font-weight: bold;
}

body {
    #zone-content {
        .region-content {
            .node {
                .rosters-output {
                    .metadata {
                        font-size: $primary-font-size - 0.2em;
                        color: gray;
                        font-style: italic;
                    }
                    .name {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .fa:before {
                        padding: 0 2px !important;
                    }
                    .alt {
                        background-color: #eee;
                    }
                    img, .no-picture {
                        vertical-align: top;
                        width: 100px;
                        min-height: 100px;
                        margin: .25em;
                        background-color: #ccc;
                        vertical-align: middle;
                        display: inline-block;
                        /* align vertical */
                        box-shadow: 0px 0px 0px 1px #FFF,0px 0px 0px 2px #2A3A89;
                        span {
                            display: block;
                            color: white;
                            text-align: center;
                            margin-top: 10%;
                            text-shadow: -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                        }
                    }
                    .person {
                        display: block;
                        .info, .positions, .accounts, .name {
                            vertical-align: middle;
                        }
                    }
                    .positions {
                        .title {
                            font-weight: bold;
                        }
                    }
                    .inactive {
                        text-decoration: line-through;
                    }
                    ul.accounts {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                    }
                    .grouped {
                        margin: .5em 0;
                        padding: .25em 0;
                        .group-title {
                            font-size: $primary-font-size * 1.1;
                            padding: .25em 0 .25em .25em;
                            background-color: #2A3A89;
                            color: white;
                            display: block;
                            margin: 0;
                        }
                    }
                    &.template-people {
                        &.display-block {
                            .name {
                                font-size: $primary-font-size * 1.5;
                                margin: .25em;
                            }
                            .position{
                                margin: .75em 0;
                            }
                        }
                        &.display-table {
                            display: table !important;
                            width: 100%;
                            .person {
                                display: table;
                                .info, .positions, .accounts {
                                    display: table-cell;
                                    vertical-align: top;
                                    width: 33%;
                                }
                            }
                            .position{
                                margin: .75em 0;
                            }
                            .grouped {
                                display: table;
                                width: 100%;
                                .group-title {
                                    display: table-caption;
                                }
                                .person {
                                    display: table-row;
                                }
                            }
                            .name {
                                margin: 0 .25em;
                                font-size: $primary-font-size *1.2;
                            }
                        }
                    }
                    &.template-lists {
                        .list-title {
                            border: 1px solid #ccc;
                            border-width: 1px;
                            font-size: $primary-font-size * 2;
                            padding: .25em;
                            color: #2A3A89;
                            background-color: #eee;
                            border-radius: .5em .5em 0 0;
                            display: block;
                            margin: 0;
                        }
                        .list-description {
                            padding: .25em;
                            margin: 0;
                            border: 1px solid #ccc;
                            border-width: 0 1px 1px 1px;
                            font-weight: bolder;
                            color: #333;
                        }
                        .list-body {
                            margin: 0;
                            padding: 1em;
                            border: 1px solid #ccc;
                            border-width: 0 1px 1px 1px;
                            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                            &.display-inline {
                                .person {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}