.appTitleIconSpacer
{
    margin-right: 300px;
}
.BodyPanel
{
    /*background-image: url(/rosters_NEW/images/controlpanelbackground.gif);*/
}
.BodyPanel h1, .BodyPanel h2, .BodyPanel h3, .BodyPanel p
{
    padding: .5em;
}
.BodyPanel label
{
    float: left;
    width: 30%;
}
.HelpPanel
{
    overflow: auto;
}
.HelpPanel h1, .HelpPanel h2
{
    background-color: #2A3A89;
    color: white;
}
.HelpPanel h1, .HelpPanel h2, .HelpPanel p
{
    padding: .5em;
}
.HelpPanel li
{
    line-height: 1em;
	padding: 5px;
}
.HelpPanel .menuoption
{
    font-weight: bold;
}
.HelpPanel ul
{
	margin: 12px;
}
.HelpPanel, .MyProfile, .BodyPanel
{
    background-color: white;
    font-family: Arial;
}
.MainMenuPanel
{
    background-color: #2A3A89;
}
.MyProfile label
{
    padding: 0 2px;
}
.ShortcutMenuPanel
{
    font-family: serif;
}
.ShortcutMenuPanel a
{
    background-color: transparent;   
    text-decoration: none;
}
.ShortcutMenuPanel a:hover
{
    text-decoration: underline;
}
.ShortcutMenuPanel h2
{
    background-color: #2A3A89;
    border: 1px outset #99BBE8;
    border-width: 1px 0;
    color: white;
    padding: 5px;
}
.ShortcutMenuPanel li
{
    background-position: center left;
    background-repeat: no-repeat;
    margin: 0;
    padding: 5px 5px 5px 20px;
    padding-left: 22px;
}
.ShortcutMenuPanel ol
{
    padding-left: 3px;
}
.Wizard .banner{
	color: #6A7AC9;
	text-transform: uppercase;
	font-size: large;
}
.Wizard ol, .Wizard li{
	list-style-type: circle;
	margin: 10px;
	
}
.x-panel-body .x-form{
    background-color: white;
}
.x-form-item
{
    display: block;
    margin: 1%;
}
.x-mask
{
    background-image: url(/rosters_NEW/images/icons/server_database_over.gif);
    background-position: center left;
    background-repeat: no-repeat;
}
.x-mask div
{
    margin: 0 0 0 34px;
}
button.listPanel
{
    background-image: url(/rosters_NEW/images/icons/script.png);
}
button.listPanel_active
{
    background-image: url(/rosters_NEW/images/icons/script_a.png);
}
button.peoplePanel
{
    background-image: url(/rosters_NEW/images/icons/user_gray.png);
}
button.peoplePanel_active
{
    background-image: url(/rosters_NEW/images/icons/user_gray_a.png);
}
div.apptitle
{
    //color: #C5D2E2;   
    color: #444444;   
}
.console ol{
    margin: 5px;
}
/* regional graphic backgrounds */
.region_01, .region_02, .region_03, .region_04, .region_05, .region_06, .region_07, .region_08, .region_20{
	/*background-size: 100px;*/
}
.region_01{ /* MAR */
	background-image: url(http://nnlm.gov/images/region_01.png);
}
.region_02{ /* SEA */
	background-image: url(http://nnlm.gov/images/region_02.png);
}
.region_03{ /* GMR */
	background-image: url(http://nnlm.gov/images/region_03.png);
}
.region_04{ /* MCR */
	background-image: url(http://nnlm.gov/images/region_04.png);
}
.region_05{ /* SCR */
	background-image: url(http://nnlm.gov/images/region_05.png);
}
.region_06{ /* PNR */
	background-image: url(http://nnlm.gov/images/region_06.png);
}
.region_07{ /* PSR */
	background-image: url(http://nnlm.gov/images/region_07.png);
}
.region_08{ /* NER */
	background-image: url(http://nnlm.gov/images/region_08.png);
}
.region_20{ /* CA */
	background-image: url(http://nnlm.gov/images/region_20.png);
}
