{# Twig macros for centralization of rendering logic #}
{% macro name(prefix, first_name, middle_name, last_name, suffix) %}
    <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
{% endmacro %}