{% from _self import render_people %}

{# default invocation when imported directly is to render whatever the value of people is #}
{{ render_people(people, options) }}

{% macro render_people(data, options) %}
	{% from _self import render_person %}
	{% set display = options.display[0] %}
	{% set tag = (display == 'inline' ? 'span' : 'div') %}
	{% spaceless %}
	<div class="rosters-output template-people display-{{display}} vcard">
		{% for person in data %}
			{% set alt = (loop.index % 2 == 0) ? true : false %}
			{{ render_person(person, options, alt) }}
		{% endfor %}
	</div>
	{% endspaceless %}
{% endmacro %}

{% macro render_people_grouped(data, options) %}
	{% from _self import render_person %}
	{% set display = options.display[0] %}
	{% set group = options.group[0] %}
	{% set tag = (display == 'inline' ? 'span' : 'div') %}
	{% set grouping = (group == 'region' ? 'PrimaryRegion' : false) %}
	{% set currentGroupValue = false %}	
	{% set groups = [] %}
	{% for person in data %}
		{% if currentGroupValue != person[grouping] %}
			{% set currentGroupValue = person[grouping] %}
			{% set groups = groups|merge([currentGroupValue])  %}
		{% endif %}
	{% endfor %}
	{% spaceless %}
	<div class="rosters-output template-people display-{{display}} vcard">
		{% for group in groups %}
			{% set alt = false %}
			<div class='grouped'>
				<h2 class='group-title'>{{ group }}</h2>
				{% for person in data %}
					{% if (person[grouping] == group) %}
					{{ render_person(person, options, alt) }}
					{% set alt = (alt ? false : true) %}
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	{% endspaceless %}
{% endmacro %}


{% macro render_person(data, options, alt_row) %}
	{% from "accounts.twig" import accounts as render_accounts %}
	{% from "positions.twig" import positions as render_positions %}	
	{% set display = options.display[0] %}
	{% set tag = (display == 'inline' ? 'span' : 'div') %}
	{% set separator = (display == 'inline' ? '<span class="sep">, </span>' : '') %}
	{% set inactive = data.positions is empty ? true : false %}
	{#{% if inactive %}
		<{{tag}} class="person inactive name {{ (alt_row ? 'alt' : '') }}" title="This person is no longer an active NN/LM staff member">{{- (data.Prefix ? data.Prefix ~ ' ' : '')}}{{- data.FirstName }} {{ data.MiddleName|default('') ~ ' ' -}}{{ data.LastName -}}{{- (data.Suffix ? ' ' ~ data.Suffix : '')}}
		</{{tag}}>#}
	{% if not inactive %}
		{% spaceless %}
		<{{tag}} class="person{{ (alt_row ? ' alt' : '') }}">
			<{{tag}} class="info">
			{% if 'picture' in options.fields and display != 'inline' %}
				{% if data.Picture %}
					<img alt="staff member photo" class="photo" src="{{ data.Picture }}"/>
				{% else %}
					<div class="no-picture"><span>No picture available</span></div>
				{% endif %}
			{% endif %}
			{% if 'name' in options.fields %}
				<span class="name">{{- (data.Prefix ? data.Prefix ~ ' ' : '')}}{{- data.FirstName }} {{ data.MiddleName|default('') ~ ' ' -}}{{ data.LastName -}}{{- (data.Suffix ? ' ' ~ data.Suffix : '')}}</span></{{tag}}>
			{% endif %}
			{% if 'positions' in options.fields %}
				{{ render_positions(data.positions, options) }}
			{% endif %}
			{% if 'accounts' in options.fields %}
				{{ render_accounts(data.accounts, options) }}
			{% endif %}
		</{{tag}}>
		{% endspaceless %}
	{% endif %}
{% endmacro %}