{% macro positions(data, options) %}
	{% set display = options.display[0] %}
	{% set wrapper = (display ? 'span' : 'div') %}
	{% set primary = (options.show_positions[0] == 'primary') %}
	{% set tag = (display == 'inline' ? 'span' : 'div') %}
	{% set separator = (display == 'inline' ? '<span class="sep">, </span>' : '<br />') %}	

	{% spaceless %}
	<{{wrapper}} class="positions">
	{% for position in data if((primary and position.PrimaryPosition == TRUE) or not primary) %}
		{% set active = (date(position.EndDate) >= date()) %}
		{% set mark_primary = (display != 'inline' and not primary and position.PrimaryPosition == TRUE) %}
		{% if not loop.first and display == 'inline' %}{{- separator|raw}}{% endif %}
		<{{tag}} class="position {{ (position.PrimaryPosition == TRUE ? 'primary-position' : '') }}">
		{% if mark_primary %}<i class='fa fa-star' title="Primary position"></i>{% endif %}
		{% if title in options.fields and position.title %}
			{{- separator|raw}}<span class="title" title="">{{ position.Title }}</span>{{- separator|raw}}
		{% endif %}
		{% if 'institution' in options.fields and position.INST_INST %}
			<span class="institution fa fa-university"><a href="//nnlm.gov/members/profile.html?l={{ position.LIBID }}">{{ position.INST_INST }}</a></span>
		{% endif %}
		{% if 'department' in options.fields and position.DEPT_INST %}
			{{- separator|raw}}<span class="department">{{ position.DEPT_INST }}</span>
		{% endif %}
		{% if 'address' in options.fields %}
			{{- separator|raw}}
			<span class="street-address">{{- position.STREET_INST -}}{% if position.STREET2_INST %}{{- separator|raw}}{{ position.STREET2_INST -}}{% endif %}</span>
			{{- separator|raw}}<span class="locality">{{- position.CITY_INST }}</span><abbr class="region">, {{ position.STATE_ETC_CODE_INST }}</abbr> <span class="postal-code"> {{ position.ZIP_MAIL_CODE_INST }}</span></span>
		{% endif %}
		</{{tag}}>
	{% endfor %}
	</{{wrapper}}>
	{% endspaceless %}
{% endmacro %}