<div class="helpfile">
  <p>The <strong>Add</strong> interface is a wizard which steps you
  through the process of creating a new person, robot, or role
  record. Because some steps are required prior to others, this
  process is done in the form of a wizard, which insures all
  required steps are performed.</p>

  <p>The number of steps you must perform in the wizard vary
  depending on which one you are creating.</p>
</div>
