<div class="HelpPanel">
  <p>The <strong>Create</strong> interface is a wizard designed to
  walk you through the steps of creating a new person or list
  within the Rosters system. A wizard is necessary for this
  portion, as one of the goals of the Rosters project is to reduce
  redundancy. As a result, the wizard forces certain steps like
  checking for duplicate entries before a new record may be
  created.</p>

  <p>Instructions for each wizard are provided in the right hand
  panel for that wizard, and are updated during every step. As
  always, errors will appear both near the relevant interface
  elements, and down in the statusbar at the bottom right of the
  interface.</p>
</div>
