<div class="helpfile">
  <h2>Position Info</h2>

  <p>Allows you to assign the title, LIBID (of the network institution
  where the position is based, if any), and type to the position, as
  well as establishing visibility, start date, and end date. Intranet
  visible positions will not show on nnlm.gov. </p>

  <p>Position Type is used to determine the order in which the
  position is displayed in some lists of positions.</p>

  <p>Please enter accurate start and end dates whenever possible.
  Start and end dates determine whether a position with public
  visibility will be displayed in the person's public profile.  If the
  end date is in the past, the position will not be displayed in
  public.  If there is no end date, the position is assumed to be
  current and should be displayed.</p>

</div>
