<h2>Edit</h2>

<p>The <strong>Edit</strong> interface allows you modify the
information for a single person or position. Editing also
encompasses adding, since the two operations are so often used in
conjunction - for example, to edit a record, you may associate new
positions with that record.</p>

<p>The creation of new positions or people does not fall under
editing, however. Actions of this type would fall under the
&#39;Add&#39; main menu interface.</p>
