<div class="helpfile">
	<h2>
		Edit: Accounts
	</h2>
	<p>
		For information on accounts, see the <a href=
		  "https://staff.nnlm.gov/wiki/Rosters_User_Documentation#Accounts"
		  class="wikilink" target="_blank">user documentation</a>.
	</p>
	<p>
	PLEASE NOTE: Deleting accounts here is usually a bad idea (unless they are errors).  This is a record of accounts, not the accounts themselves.  Having a history of a person's accounts can come in very handy.  It is better to add a note in the Account Comments field (e.g., "Deactivated 2012-01-14") than to delete the record.
	</p>
	<p>
		To add an account, use the toolbar at the bottom of the Accounts panel: Select the Type and appropriate Visibility, then enter the Value.  Either the 'Add Account' action button or the enter key will merge your entry with the account list. That will "light up" the Save Changes and Cancel Changes buttons.  Don't forget to save your changes.
	</p> 
	
	<p>
		To edit an account: Double-click the field of an existing account you are interested in modifying.  Columns with pencil icons shown in the column heading are editable in this fashion.
	</p>
	<p>
		The Account Comments field may be used for any notes needed for others to understand the proper use of the account.  Please note that if the account is marked to be visible in public, the comment for that account is also likely to appear in public.
	</p>
</div>
