<div class="helpfile">
  <h2>Edit: Info</h2>

  <p>This panel deals with portions of a staff member&#39;s
  record that directly relate the person themselves. </p>

  <p>The images on the right are the suggestions by Google using images found on nnlm.gov.  You
	may use other images of yourself from another site, but please be careful when <a href="http://en.wikipedia.org/wiki/Inline_linking">hotlinking</a> to a foreign website.  If possible, 
	upload it to nnlm.gov and link to it there.  <br />If you see an image you wish to use, you can click on it
	to transfer the image url to the appropriate field.  Make sure you save the changes.  </p>

  <p>For more
  information, please refer
  to the <a href=
  "https://staff.nnlm.gov/wiki/Rosters_User_Documentation#Edit:_Info"
  class="wikilink" target="_blank">edit documentation</a>, 	or the <a href=
"https://staff.nnlm.gov/wiki/Rosters_User_Documentation#Google_image_suggestions"
class="wikilink" target="_blank">Rosters Google image search documentation.</a>.</p>
</div>
