<div class="helpfile">
  <h2>Edit: Positions</h2>

  <p>The edit positions panel allows you to review this
  person&#39;s positions. Positions are defined primarily by a
  start (and possibly an end) date, and a title. They may or may
  not have a LIBID assigned to them. The positions panel contains
  each of these positions as a subpanel.</p>

  <p>A position subpanel is dividied into 3 subsections. These
  sections allow you to manage various aspects of the
  position&#39;s information.  </p>
</div>
