<div class="helpfile">
  <h2>Position Roles</h2>

  <p>This section allows you to choose from a set of predefined Roles
  that are assigned (usually by the AD) to the Position. Roles should
  ONLY be assigned to RML and Center staff.</p>

  <p>These roles are NLM contractual obligations, and are not
  modifiable, although the Comments section does allow clarification
  as to the nature or scope of the assignment. For instance, a
  position might be assigned the role of Advocacy, but only for a
  subset of the region (e.g., a state or two).</p> 

</div>
