<div class="helpfile">
<h2>Edit: Lists</h2>

<p>The edit lists panel is designed to give you an overview of the
lists that a staff member is associated with. The contents
of this panel are not directly editable; you would make changes
visible here by modifying lists directly, and adding this user to them.</p>

<p>The 'edit list' action at the bottom of the interface opens a list
	for editing when one is present and selected within the interface.  You
	may also double-click the entry to edit it.</p>
</div>