<h2>Edit: Overview (Intranet)</h2>

<p>This panel is to provide a comprehensive view of
the person&#39;s record. It displays all
information in this person&#39;s record, including public
items.  No changes are possible with this panel; you must
use neighboring panels to make edits.</p>

<p><a href=
"https://staff.nnlm.gov/wiki/Rosters_User_Documentation#Edit:_Intranet_View"
class="wikilink">More Information...</a></p>
