<div class="helpfile">
  <h2>List: Public View</h2>

  <p>This panel is designed to provide a real-time
  view of what this list would look like when shown
  on the NN/LM <b>public</b> servers. It displays all information
  in this person&#39;s record, <i>limiting to that information
  which is public</i>.</p>

  <p>For instance, if a staff member has an intranet account, and
  it is labeled with intranet visibility, (as it should be), that
  account would not show up in this panel.</p>         
<p>No changes are possible with this panel; you must
use neighboring panels to make edits.</p>
</div>
