<div class="helpfile">
<h2>Position Address</h2>

<p> The Position Address panel allows customizing the address that is
displayed for the selected position.  The default uses the institution's entry
found in DOCLINE, if a LIBID is assigned, or nothing, if one isn't. </p>


<p>The Change Address control at the bottom will open a panel that
	lets you modify what address is displayed for this
	position. Please note that when you override the DOCLINE
	default, you override the *entire* DOCLINE address with the
	information shown in the form.  For example, if you use Change
	Addres, and you delete everything from the form except the
	state, then all that will be displayed in the future will be
	the state.  This is probably not what you want!</p>

</div>