<div class="helpfile">
  <h2>Find a list</h2>  

  <p>To search for a person by their PeopleID, enter the PeopleID in the search
	bar in the top left of the interface.<a href=
  "https://staff.nnlm.gov/wiki/Rosters_User_Documentation#Search_by_PeopleID"
  class="wikilink" target="_blank">More about this...</a></p>

  <p>Choosing one of the results will cause a public preview to appear
	in the panel to the right.  Double-clicking a result will open
	it for editing in a new tab.</p>  
</div>
