<div class="helpfile">
  <h2>Find by LIBID</h2>  

  <p>To search for a person by LIBID, enter the LIBID in the text entry field at the interface
	top left. <a href=
  "https://staff.nnlm.gov/wiki/Rosters_User_Documentation#Search_by_LIBID"
  class="wikilink" target="_blank">More about this...</a></p>

  <p>Choosing one of the results will cause a public preview to appear
	in the panel to the right.  Double-clicking a result will open
	it for editing in a new tab.</p>  
</div>
