<div class="helpfile">
  <h2>Find</h2>

  <p>The <strong>Find</strong> interface allows you to search for
  lists or people by a range of criteria. You must choose the correct panel type to run your
  search - searching for people in a list search panel will return
  wrong results. All Finding actions are started with the <a href=
  "#" onclick=
  "NNLM.Rosters.DisplayManager.notify(&#39;expandmenu&#39;, {menu:&#39;find&#39;}); return false;"
  class="help_example">find menu</a> at the top.</p>
                                                           
</div>
