<div class="helpfile">
  <h2>Find a person by name</h2>   

  <p>To search for a person by name, enter their first or last name, or
  both. You may input this in a few different ways; first then last
  is the simplest possible option. <a href=
  "https://staff.nnlm.gov/wiki/Rosters_User_Documentation#Search_for_People"
  class="wikilink" target="_blank">More about this...</a>. A minimum of 4 characters
are required for searching. </p>      

  <p>Choosing one of the results will cause a public preview to appear
	in the panel to the right.  Double-clicking a result will open
	it for editing in a new tab.</p>          
</div>
