<div class="helpfile">
  <h2>Find a person by region</h2>  

  <p>To search for a person by RML/Center, choose the applicable center or regional office from the 
	drop down bar at the interface top left. <a href=
  "https://staff.nnlm.gov/wiki/Rosters_User_Documentation#Search_by_RML.2FCenter"
  class="wikilink" target="_blank">More about this...</a></p>

  <p>Choosing one of the results will cause a public preview to appear
	in the panel to the right.  Double-clicking a result will open
	it for editing in a new tab.</p>  
</div>
