<h2>List Treeview</h2>

<p>The tree view of a list provides a better view of the hierarchy
of a list. It also offers expansion of sub-list items, to give an
idea what the nested lists might look like.</p>

<p>In the future, it is hoped that a &#39;consolidated&#39; view
might be offered as well, which would show the condensed list
alphabetically, sans duplicates.</p>
