<div class="helpfile">
  <h2>List Management</h2>

  <p>Lists are intended as a replacement for roles, in many
  respects. For more on the purpose of lists, see the <a href=
  "https://staff.nnlm.gov/wiki/Rosters_User_Documentation#Lists"
  class="wikilink" target="_blank">staff wiki
  documentation</a>.</p>
</div>
