<h2>
	About this List
</h2>
<p>
This panel governs the metadata associated with a given list - its title, description, start, and end date. It also contains the list's <strong>ListID</strong> in read-only form. This number is useful for extra features like linking to the list on an nnlm.gov page. For more on this, see the <a href="https://staff.nnlm.gov/wiki/Rosters_Library_API_Documentation#Lists" target="_blank">API documentation.</a> For more on lists in general, see the <a href="https://staff.nnlm.gov/wiki/Rosters_User_Documentation#Lists" target="_blank">user documentation</a>
</p>
<p>
The start and end dates for a list govern all of the entries in the list, unless a list entry itself has something more specific. (This latter case can arise when people enter and leave a group, for instance.) Even so, it is not allowed for a list entry start or end date to exceed the dates specified by the list metadata.
</p>
