<h2>List Contents</h2>

<p>The list contents panel lets you make modifications to the
contents of this list. The bottom toolbar contains two actions
that allow you to either add an item to this list, or remove one
from it.  Hover over the actions with your mouse for use descriptions.</p>
