<div class="helpfile">
<h2>Message History</h2>

<p>The system notifies the user of responses to or errors with user actions
	by displaying dialog bubbles in the center of the screen.  These messages
	are also recorded for the life of the user session, and are shown in this panel
	in reverse chronological order, with the most recent on top.</p>
</div>