<div class="helpfile">
  <h1>My Profile</h1>

  <p>The My Profile section deals with modifications to your own
  account. It has been given its own section, as this is the type
  of information most people will be commonly dealing with.</p>
</div>
