<div class="helpfile">
  <h2>Rosters Help</h2>

  <p>This Help panel provides brief contextual help for the
  action being performed in the main panel. It will change with
  actions that you take with the Rosters application.</p>

  <p>Links that look like <a href="#" onclick=
  "NNLM.Rosters.DisplayManager.notify('prompt', {text:'An example...of an interactive example!'}); return false;"
  class="help_example">This</a> may be clicked on to see an
  interactive example.</p>

  <p>Links to more information on the Staff Roster in StaffWiki pages
  appear like <a href=
  "https://staff.nnlm.gov/wiki/Rosters_and_Contacts_Applications"
  class="wikilink" target="_blank">This</a>. All such links open in a
  separate tab (or window, depending on your browser settings), so you
  can use the documentation without losing whatever you were doing.</p>

  <p>This Help panel may also be collapsed by clicking on the
  middle of the divider bar to the left (and expanded again via the
  same method), or via the Help menu at the top.</p>
</div>
