<ol class="MenuPanel">
    <li class="createNewPerson"><a href="#"
    onclick="NNLM.Rosters.DisplayManager.notify('createperson'); return false;">
        Create a new people record</a></li>
    <li class="createNewList"><a href="#"
    onclick="NNLM.Rosters.DisplayManager.notify('createlist'); return false;">
        Create a new list</a></li>
</ol>
