<?php
require_once("../../classfiles/server/utils.php");
require_once('MySQLi.php.inc');
$mysqli = MySQLiC::getDBConnection('nobody');

$query_string = "
    SELECT People_ID
    FROM http_auth.users u
    WHERE user  = '$_SERVER[PHP_AUTH_USER]'";
$result = $mysqli->query($query_string);
list($pid) = $result->fetch_row();
$result->close();
$mysqli->close();
?>

<ol class="MenuPanel">
    <li class="editPerson"><a href="#"
    onclick="NNLM.Rosters.DisplayManager.notify('edit',
    {'PeopleID': '<?php print $pid; ?>'}); return false;">
    Edit My Record</a></li>
    <li class="editList"><a href="#"
    onclick="NNLM.Rosters.DisplayManager.notify('list'); return false;">
    Edit a List</a></li>
</ol>
