<ol class="MenuPanel">
    <li class="findByName"><a href="#"
        onclick="NNLM.Rosters.DisplayManager.notify('find'); return false;">
        Find By Name</a></li>
    <!--<li><a class="findByPosition" href="#"
        onclick="NNLM.Rosters.DisplayManager.notify({
            event: 'find',
            args: {type:'position'}
        });return false;">
        Find By Position</a></li>
    <li><a class="findByRole" href="#"
        onclick="NNLM.Rosters.DisplayManager.notify({
            event: 'find',
            args: {type:'role'}
        });return false;">
        Find By Role</a></li>
    <li><a class="findByListName" href="#"
        onclick="NNLM.Rosters.DisplayManager.notify({
            event: 'find',
            args: {type:'list'}
        });return false;">
        Find By List Name</a></li>-->
</ol>
