<div class="helpfile">
	<h1>NN/LM Staff Rosters Application  @@@VERSION_NUMBER@@@</h1>
	<p>
		The Rosters system is a web application that manages information about NN/LM staff and their accounts.

		<p>For more information, see the <a href="https://staff.nnlm.gov/wiki/Rosters_User_Documentation" class="wikilink"  target="_blank">Staff Wiki page on the Rosters system</a>. If you need to make modifications to the records in the old database
			during the transition period, the old interface will be available during the breaking in period
			<a href="https://staff.nnlm.gov/rosters_old/">here</a>.
	</p>
	<p>
		Please select an option the top row to get started. The options are as follows:
	</p>
	<ol>
		<li>
			<span class="menuoption"><a href="#" onclick="NNLM.Rosters.DisplayManager.notify('expandmenu', {menu:'file'}); return false;" class="help_example">File</a></span>: Provides the same save and reset controls as are present at the bottom right of the interface. These are required to save any files to the server - otherwise, all changes are local.
		</li>
		<li>
			<span class="menuoption"><a href="#" onclick="NNLM.Rosters.DisplayManager.notify('expandmenu', {menu:'find'}); return false;" class="help_example">Find/Edit</a></span>: Provides panels for searching for a variety of different things. Once the thing sought is found, options for editing become available.
		</li>
		<li>
			<span class="menuoption"><a href="#" onclick="NNLM.Rosters.DisplayManager.notify('expandmenu', {menu:'create'}); return false;" class="help_example">Create</a></span>: Provides a wizard that steps you through the process of creating a new person or list.
		</li>
		<!--<li>
			<span class="menuoption"><a href="#" onclick="NNLM.Rosters.DisplayManager.notify('expandmenu', {menu:'delete'}); return false;" class="help_example">Delete</a></span>: The delete functionality is not implemented for the rosters system.  Deletion options are handled by contacting WebSTOC staff. This is because in most cases, deletions are only performed if a record was entered in error.
		</li>  -->
		<li>
			<span class="menuoption"><a href="#" onclick="NNLM.Rosters.DisplayManager.notify('expandmenu', {menu:'my_shortcuts'}); return false;" class="help_example">My Shortcuts</a></span>: Provides shortcuts for the currently logged in user to edit their own record or locker.
		</li>
	</ol>
	<p>
		The above topics will be explained briefly in the context-sensitive Help panel to the right (which may be toggled on or off at any time), or in more detail in the <a href="https://staff.nnlm.gov/wiki/Rosters_User_Documentation" class="wikilink" target="_blank">User Documentation</a>. At any time, status and error messages from your current session may be displayed via the Message History button in the lower right of this interface.
	</p>
</div>
