<ol>
    <li class="iconed application_form"><a class="iconed" href="#" onclick="loadsection(this); return false;">Position Information</a></li>
    <li class="iconed cog"><a class="iconed" href="#" onclick="loadsection(this); return false;">Position Roles</a></li>
    <li class="iconed application_form"><a class="iconed" href="#" onclick="loadsection(this); return false;">Position Contact Info</a></li>
    <li class="iconed building"><a class="iconed" href="#" onclick="loadsection(this); return false;">Position Address</a></li>
</ol>
<script type="text/javascript">
function loadsection(scope){
    if(!NNLM.Rosters.DisplayManager.isViewChangeOk()){
        NNLM.Rosters.DisplayManager.err("Navigation has been suspended until current panel data is saved.");
        return;
    }
    var me = Ext.fly(scope);
    var myparent = me.parent('ol');
    var main = myparent.parent().main;
    if(main === null){
        return;
    }
    var activeItem = main.getComponent("positions").getActiveTab();
    me = me.parent('li'); //set to the first li.
    var itemNum = 4;
    do{
        itemNum--;
        me = me.next();
    }
    while(me !== null);
    activeItem.getComponent('panels').getLayout().setActiveItemNum(itemNum);
    activeItem.fireEvent('dofilter');


}
</script>
