<!--
<div style="width: 100%; margin: 0;">
	<div class="x-box-tl">
		<div class="x-box-tr">
			<div class="x-box-tc"></div>
		</div>
	</div> 
	<div class="x-box-ml">
		<div class="x-box-mr">
			<div class="x-box-mc">
				<h3 style="margin-bottom: 2px;">Search the Rosters 
				<em style='padding-left: 10%; font-size: x-small;'>
				(Autocompletion requires a
				minimum of 4 characters.)</em></h3>
				<div>
					<input autocomplete="off" 
					class="x-form-text x-form-field" style='width: 80%;' 
					name="search" id="search" type="text" />
					<img style="display: none;" id="ext-gen9" 
						src="../../resources/images/default/s.gif" 
						class="x-form-trigger x-form-arrow-trigger"/>
				</div>
				<div style="font-size: x-small; display: inline;">
				<p>Currently searching by:
				<strong class="searchall">All</strong>.</p>
				</div>
				</div>
			</div>
		</div>
		<div class="x-box-bl">
			<div class="x-box-br">
				<div class="x-box-bc"></div>
			</div>
		</div>
	</div>
	<div id='search-panel'></div>
</div>
-->
