<?php 
require_once("includes/init.inc.php"); 
require_once("sqlnobody.php.inc");
$_ENV['DOCTYPE']='xhtml';
$_ENV['DEBUG'] = 0;
ini_set("display_errors", true);
error_reporting(E_WARNING);
$errors = array();
/* Error check all  user input */
$match = (isset($_GET["match"]) && preg_match("/(exact|partial)/", $_GET["match"])) ? $_GET["match"] : "exact";

$name = (isset($_GET["name"]) && preg_match("/^[A-Za-z]{1,}$/", $_GET["name"])) ? $_GET["name"] : ((isset($_GET["name"]) && $_GET["name"] != "") ? "err" : false);
$city = (isset($_GET["city"]) && preg_match("/^[A-Za-z]{1,}$/", $_GET["city"])) ? $_GET["city"] : ((isset($_GET["city"]) && $_GET["city"] != "") ? "err" : false);
$state = (isset($_GET["state"]) && preg_match("/^[A-Za-z]{1,}$/", $_GET["state"])) ? $_GET["state"] : ((isset($_GET["state"]) && $_GET["state"] != "") ? "err" : false);
$zip = (isset($_GET["zip"]) && preg_match("/^[0-9]{5}$/", $_GET["zip"])) ? $_GET["zip"] : ((isset($_GET["zip"]) && $_GET["zip"] != "") ? "zip" : false);
$region = (isset($_GET["region"]) && preg_match("/^[0-9]{1,3}$/", $_GET["region"])) ? $_GET["region"] : ((isset($_GET["region"]) && $_GET["region"] != "") ? "err" : false);

/* run if: 
*  1) At least one variable is set in $_GET, even if it's empty.
*  2) None of the variables are invalid input.
*/
$runsearch = ( (isset($_GET['name']) || 
                     isset($_GET['city']) || 
                     isset($_GET['state']) || 
                     isset($_GET['zip']) || 
                     isset($_GET['region'])) &&
               !($name == "err" || $city == "err" || $state == "err" || $zip == "err" || $region == "err")) ? true : false;
if($name == "err"){
   $errors []= "The value entered for name: '".$_GET['name']."' is not valid.";
}
if($city == "err"){
   $errors []= "The value entered for city: '".$_GET['city']."' is not valid.";
}
if($state == "err"){
   $errors []= "The value entered for state: '".$_GET['state']."' is not valid.";
}
if($zip == "err"){
   $errors []= "The value entered for zip: '".$_GET['zip']."' is not valid.";
}
if($region == "err"){
   $errors []= "The value entered for region: '".$_GET['region']."' is not valid.";
}
$results = false;
if($runsearch){
   $query_string = "
         SELECT DISTINCT 
            o.*
         FROM general.organizations o
         WHERE 1 ";
   switch($match){
      case "exact":
         if ($name) {
         $query_string .= " 
            AND (o.Institution = \"$name\" 
            OR o.Department = \"$name\" 
            OR o.Abbreviation = \"$name\")";
         }
         if ($city) {
               $query_string .= " AND o.City = \"$city\" ";
         }
         if ($state) {
               $query_string .= " AND o.State = \"$state\" ";
         }
         if ($zip) {
               $query_string .= " AND o.Zip = \"$state\" ";
         }
         if($region){
               $query_string .= " AND o.Region_Codes LIKE \"%$region%\" ";
         }
      break;
      case "partial":
         if ($name) {
         $query_string .= " 
            AND (o.Institution LIKE \"%$name%\" 
            OR o.Department LIKE \"%$name%\" 
            OR o.Abbreviation LIKE \"%$name%\")";
         }
         if ($city) {
               $query_string .= " AND o.City LIKE \"%$city%\" ";
         }
         if ($state) {
               $query_string .= " AND o.State LIKE \"%$state%\" ";
         }
         if ($zip) {
               $query_string .= " AND o.Zip LIKE \"%$state%\" ";
         }
         if($region){
               $query_string .= " AND o.Region_Codes LIKE \"%$region%\" ";
         }
      break;
      case "err":
      case false;
      default:
      break;
   }  
   $query_string .= " ORDER BY o.Institution, o.Department";

   // run the search
   $results = false;
   $results = mysql_query($query_string, $link);
   if(mysql_errno($link) != 0){$errors[]= "Error: ".mysql_error().", Query: $query_string";}
}
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- InstanceBegin template="/Templates/L2_xhtml.dwt" codeOutsideHTMLIsLocked="true" -->

<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 1 September 2005), see www.w3.org" />
  <meta name="generator" content="Bluefish 1.0.5" /><?php
      //placeholder for future pre-pageload content
      //national preload content
      @include_once("includes/head.inc.php");
      //regional preload content
      //not yet included.
      ?>
<script type='text/javascript' src="/scripts/general.js">
//<![CDATA[
//]]>
</script>
  <meta http-equiv="Content-Type" content=
  "text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/styles/nnlm.css"
  media="all" /><!-- stylesheet placeholders for future use -->
  <link rel="stylesheet" type="text/css" href=
  "/styles/nnlm.screen.css" media="screen" />
  <link rel="stylesheet" type="text/css" href=
  "/styles/nnlm.print.css" media="print" />
  <link rel="stylesheet" type="text/css" href="/styles/nnlm_L2.css"
  media="screen" />
  <!-- MODIFY ENTRIES BELOW HERE TO FIT YOUR PAGE -->
  <!-- InstanceBeginEditable name="head" -->

  <title>Find An Organization</title>
  <meta name="author" content="Aron Beal" />
  <!-- <meta name="description" content=""> -->
  <!-- <meta name="keywords" lang="en-us" content=""> -->
  <!-- <meta name="htdig-keywords" content=""> -->
  <!-- <meta name="htdig-email" content="youremail@address"> -->
  <!-- <meta name="htdig-email-subject" content="This page needs review."> -->
  <!-- <meta name="htdig-notification-date" content="06/01/2222"> -->
  <!--
  <link rel="stylesheet" type="text/css" href="XXX/styles/regional.screen.css"
  media="screen" />
  <link rel="stylesheet" type="text/css" href="XXX/styles/regional.print.css"
  media="print" /> 
  -->
  <link rel="stylesheet" type="text/css" href=
  "./styles/rosters.css" media="screen" />
  <!-- InstanceEndEditable -->
</head>

<body onload="createValidationTag(true)">
  <div>
    <!-- Screenreader shortcut -->
    <a href="#skipnav"><img src="/images/x.gif" alt=
    "Skip all navigation and go to page content" width="15" height=
    "1" border="0" /></a>
  </div><?php 
                  require_once("includes/top_banner.inc.php"); 
                  require_once("includes/top_navigation_L2.inc.php");
                  ?>

  <table width="100%" border="0" cellspacing="0" cellpadding="0"
  align="center" bgcolor="#FFFFFF" summary=
  "Table used for layout purposes only.">
    <tr>
      <td class="buffer"><img src="/images/x.gif" height="1" alt=
      "" /></td>

      <td>
        <!-- Anchor for skip nav landing -->
        <a name="skipnav" id="skipnav"></a>

        <div id='lsidebar'>
          <!-- InstanceBeginEditable name="Quicklinks" -->
          <?php
                               require_once('includes/left_navigation_L2.inc.php');
                              ?><!-- InstanceEndEditable -->
        </div><!-- Anchor for skip nav landing -->

        <div id="main">
          <!-- InstanceBeginEditable name="Content" -->

          <h1>Organizations</h1>

          <form method="get" action="orgs.html#r" name="findorgs"
          id="findorgs">
            <table>
              <tr>
                <td class="right">Name</td>

                <td><input type="text" name="name" tabindex="1"
                value="<?php echo $name; ?>" /></td>

                <td><input type="radio" name="match" value=
                "partial" tabindex=
                "4" <?php if ($match == "partial" or $match == "") { echo "checked=\"checked\""; } ?> />Partial
                match</td>
              </tr>

              <tr>
                <td class="right">City</td>

                <td><input type="text" name="city" tabindex="2"
                value="<?php echo $city; ?>" /></td>

                <td><input type="radio" name="match" value=
                "exact" <?php if ($match == "exact") { echo "checked=\"checked\""; } ?> />Exact
                match</td>
              </tr>

              <tr>
                <td class="right">State</td>

                <td colspan="2"><input type="text" name="state"
                tabindex="3" value="<?php echo $state; ?>" /></td>
              </tr>

              <tr>
                <td class="right">Zip</td>

                <td><input type="text" name="zip" tabindex="4"
                value="<?php echo $zip; ?>" /></td>

                <td class="right"></td>
              </tr>

              <tr>
                <td class="right">Region</td>

                <td><select name="region" tabindex="5">
                  <?php include("$HTTP_SERVER_VARS[DOCUMENT_ROOT]includes/option_regions.html"); ?>
                </select></td>

                <td class="right"><input type="submit" value=
                "Search" tabindex="6" /></td>
              </tr>
            </table>

            <p><a href="./editorg.html">Add a new organization to
            the database</a></p>
          </form>

          <p>Leave fields blank and click search to view
          alphabetical list of all organizations.</p>
          <hr />
          <?php
                                if(count($errors) != 0){
                                   ?>

          <div class="error">
            <?php
                                       foreach($errors as $error){
                                          print "<p>$error</p>";
                                       }?>
          </div><?php
                                }
                                if(!$runsearch){
                                   print $query_string; }
                                // should a results set be displayed?
                                if ($results) {
                                   if (mysql_num_rows($results) == 0) {
                                   ?>

          <p><strong>No matches. Search again.</strong></p>

          <p>Query String: <?php print $query_string; ?></p><?php  
                                   } else {
                                      $i = 0;
                                      $orgs = array();
                                      while ($row = mysql_fetch_array($results)) {
                                         $orgs []= $row["ORGID"];
                                      }
                                      $neworganization = implode(",", $orgs);
                                      echo "<p><a href=\"/contacts/edit.html?neworganization=$neworganization\">New Contact</a> with all these organizations.</p>";
                                      
                                      mysql_data_seek($results,0);
                                      while ($org = mysql_fetch_array($results)) {
                                               // display information
                                         echo "<p><a href=\"editorg.html?orgid=$org[ORGID]\">$org[Institution]</a> (ORGID: $org[ORGID])";
                                         if ($org[Department]) { echo "<br />$org[Department]"; }
                                         if ($org[Abbreviation]) { echo "<br />$org[Abbreviation]"; }
                                         echo "<br /><a href=\"/contacts/edit.html?neworganization=$org[ORGID]\">New Contact</a> with this organization.</p>";
                                      }
                                   }
                                }
                                ?><!-- InstanceEndEditable -->
        </div>
      </td>

      <td class="buffer"><img src="/images/x.gif" height="1" alt=""
      border="0" /></td>
    </tr>
  </table><?php require_once('includes/footer.inc.php');?>
  <!-- InstanceEnd -->
</body>
</html>
