<?php
require_once("../../classfiles/server/utils.php");
require_once('MySQLi.php.inc');
$mysqli = MySQLiC::getDBConnection('nobody');

$query_string = "
    SELECT People_ID
    FROM http_auth.users u
    WHERE user  = '$_SERVER[PHP_AUTH_USER]'";
$result = $mysqli->query($query_string);
list($pid) = $result->fetch_row();
$result->close();
$mysqli->close();
?>
<div class="ShortcutMenuPanel">
<h2>Shortcut Menu</h2>
<ol>
    <li class="findByName"><a href="#"
        onclick="NNLM.Rosters.DisplayManager.notify('find'); return false;">
        Find a person by name</a></li>
    <li class="editPerson"><a href="#"
    onclick="NNLM.Rosters.DisplayManager.notify('edit',
    {'PeopleID': '<?php print $pid; ?>'}); return false;">
    Edit my record</a></li>
    <li class="editList"><a href="#"
    onclick="NNLM.Rosters.DisplayManager.notify('list'); return false;">
    Edit a list</a></li>
</ol>
</div>
