<h1 class="banner">
	Add new person wizard
</h1>
<h2>
	Step 1: basic information
</h2>
<p>
	This wizard will walk you through the basic steps of creating a new staff member. The wizard will only ask for basic information; you will have more opportunities to fill out user content after the wizard is complete.<br>
	Enter some basic information for this new member. The minimally required entries are first and last name. Some of the other entries might require explanation:
</p>
<ol>
	<li>
		<strong>Prefix:</strong> the honorific attached to the person's first name. Can be something like Mr. or Ms. or Dr. or Mssrs.
	</li>
	<li>
		<strong>Middle Name:</strong> This may simply be an initial; it is essentially however you wish the name to display in presentation.
	</li>
	<li>
		<strong>Suffix:</strong> Jr., Sr., Esq., et cetera.
	</li>
</ol>
