<h1 class="banner">
	Add new person wizard
</h1>
<h2>
	Step 2: check for duplicates
</h2>
<p>
	It is important to take care not to create duplicates when adding new staff members. Please examine the results provided before continuing to insure this is not a duplicate entry.
</p>
<p>
	If no results are shown, then you are safe to proceed. More likely, you will see many results that may not at first seem related to your entries. This process uses a very relaxed search restriction to maximize the number of results returned, in order to provide the best possible check against incorrect record duplication. Do the best you can. If you inadvertently create a record by mistake, please inform Web-STOC staff so it may be cleaned up.
</p>
<p>
	Note that double-clicking on a result shown to the left will bring up a separate editing tab for that person, if you need to examine in greater detail.
</p>
