<?php 
require_once("includes/init.inc.php"); 
$_ENV['DOCTYPE']='xhtml'; 
require_once('DB.class.php');
require_once('scripts/debug.class.php');
error_reporting(E_ALL);
$_ENV['debugging'] = 3;

$titles = array();
function print_list($name){
	?><select id="<?php print $name; ?>" name="<?php print $name; ?>"><?php
	if(!isset($lists)){
		try{
			DB::query("
				SELECT DISTINCT ListID, ListTitle
				FROM rosters.list_descriptions"
			);
		}catch(Exception $e){
			echo "<option>", $e->getMessage(), "</option>\n";
		}
	}
	while(list($id, $title) = DB::getResultRow()){
		print "<option value='$id' " . ((trim($_REQUEST[$name]) == $id) ? 'selected="selected"' : '') . ">
		@".$id.": $title</option>";
	}
	?></select><?php
}
function setVisited($listid, $bool, &$adjlist){
	$listid = substr($listid,1); // just the numeric substring.
	if($bool){
		//true = mark as visited.
		if(isset($adjlist['@'.$listid])){
			if(!is_array($adjlist['@'.$listid])){
				$adjlist['#'.$listid] = false; // empty list, visited.
			}
			else{
				$adjlist['#'.$listid] =& $adjlist['@'.$listid];
			}
			unset($adjlist['@'.$listid]);
		}
	}
	else{
		//false = mark as unvisited.
		if(isset($adjlist['#'.$listid])){
			if(!is_array($adjlist['#'.$listid])){
				$adjlist['@'.$listid] = false; // empty list, visited.
			}
			else{
				$adjlist['@'.$listid] =& $adjlist['#'.$listid];
			}
			unset($adjlist['#'.$listid]);
		}
	}
	return (($bool) ? '#' : '@') . $listid;
		
}

function r_printList($listid, &$adjlist, &$data, $depth=0){
	global $titles;
	//logic: mark yourself visited, process all subnodes, 
	//then mark yourself unvisited.  this insures that each node
	//never encounters itself in recursion.
	
	//following controls the recursion to list depth max = 10
	if($depth > 10){die('maximum recursion depth reached');}

	if(!isset($adjlist[$listid])){
		return;
	}
	print str_repeat(' ', $depth*4) . "$listid: ". (@$titles[$listid]). "\n";
	if(isset($data[$listid])){
		foreach($data[$listid] as $name){
			print str_repeat(' ', $depth*4) . $name . "\n";
		}
	}
	if(!$adjlist[$listid]){
		return;
	}
	/*print str_repeat(' ', $depth*4) ."Adjacency List:\n";
	//print str_repeat(' ', count($output[0]) + 1) . "\n";
	foreach($adjlist as $k=>$v){
		print str_repeat(' ', $depth*4) ."$k => ".((is_array($v)) ? implode(",", $v) : $v)."\n";
	}
	print str_repeat(' ', $depth*4) . "visiting $listid\n";
	*/
	$newid = setVisited($listid, true, $adjlist);
	if(is_array($adjlist[$newid])){
		//print str_repeat(' ', $depth*4) . $listid ." is a list.\n";
		foreach($adjlist[$newid] as $entry){
			$entry = '@'.$entry;
			//print str_repeat(' ', $depth*4) . "recursing on $entry\n";
			r_printList($entry, $adjlist, $data, ($depth+1));
		}
	}
	//print str_repeat(' ', $depth*4) . "unvisiting $listid\n";
	$newid = setVisited($listid, false, $adjlist);
}

function print_ID($id){
	global $titles;
	DB::query("CALL rosters.getList($id)");
	$sql = array();
	$tmp = array();
	$people = array();
	$positions = array();
	$roles = array();
	$accounts = array();
	
	while($row = DB::getResultRow()){
		list($id2) = $row;
		$sql[]="ld.ListID = '$id2'" ;
		$tmp[] = $id2;
	}
	/* Retrieve all lists and titles. */
	$query_string = "SELECT DISTINCT
		ld.ListTitle,
		(ld.ListID) as parent,
		IF(l.ListMemberTable = 'list_descriptions', l.ListMemberTableID, false) as child
		FROM
		rosters.list_descriptions ld
		LEFT JOIN
		rosters.lists l ON (ld.ListID = l.ListID OR l.ListID IS NULL)
		WHERE (" . implode(" OR ", $sql).")";
	//Debug::prettyPrintSQL($query_string);

	DB::query($query_string);
	
	
	$output = array(); /*array_fill(0, max($tmp)+1, 0); */
	foreach($tmp as $v){
		$output['@'.$v] = false; //default value for an empty list.
		//$titles['@'.$v] = '';
	}
	while($row = DB::getResultRow()){
		list($title, $parent, $child) = $row;
		//print "<p><pre>Returned value: $parent, $child</pre></p>";
		if(!isset($titles['@'.$row[1]])){
			//print "<p><pre>Assigning title $title to index $parent</pre></p>";
			$titles['@'.$parent] = $title;
		}
		if(!is_array($output['@'.$parent])){
			$output['@'.$parent] = array();
		}
		if($child > 0){
			$output['@'.$parent][] = $child;
		}
	}
	/* Retrieve non-list information.  Roles, People */
	
	
	/* people */
	DB::query("CALL rosters.getPeople('".implode(',', $tmp)."')");
	while($row = DB::getResultRow()){
		list($parent,$tid,$name) = $row;
		$people['@'.$parent][] = $name;
	}
	/* positions */
	/*DB::query("
	SELECT DISTINCT
		l.ListID,
		l.ListMemberTableID,
		CONCAT(p.LastName, ', ', p.FirstName, ' (', po.Title, ')') as Name
	FROM
		rosters.lists l
	INNER JOIN rosters.positions po
	ON (po.PositionID = l.ListMemberTableID)
	INNER JOIN rosters.people p
		ON (p.PeopleID = po.PeopleID)
	WHERE l.ListMemberTable = 'positions'
		AND	l.ListID IN ('".implode("', '", $tmp)."')");
	while($row = DB::getResultRow()){
		list($parent,$id,$title,$name) = $row;
		$people['@'.$parent][$id] = $name;
	}*/
	/*
	
	$query_string = "SELECT DISTINCT
		l.ListID as parent,
		l.ListMemberTable as table, 
		l.ListMemberTableID as child
		FROM
		rosters.lists l
		LEFT JOIN rosters.people
		ON 
		WHERE l.ListMemberTable <> 'list_descriptions' AND 
		(" . implode(" OR ", $sql).") ORDER BY ListMemberTable";
	DB::query($query_string);
	while($row = DB::getResultRow()){
	}
	*/
	print "</pre></p><p>Adjacency List<pre>";
	//print str_repeat(' ', count($output[0]) + 1) . "\n";
	foreach($output as $k=>$v){
		print "$k => ".((is_array($v)) ? implode(",", $v) : $v)."\n";
	}
	print "</pre></p>";
	
	print "<h1>List @$id:</h1><p><pre>";
	r_printList('@'.$id, $output, $people);
	print "</pre></p>";
	
	/*
	while($list($id2) = $result->fetch_row()){
		$all_lists[]="l.ListID = $id2" ;
	}
	?><pre><?php
	print_r($output); ?></pre><?php */
}
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/L3_xhtml.dwt" codeOutsideHTMLIsLocked="true" -->
<head>
  <?php
  //placeholder for future pre-pageload content
  //national preload content
  @include_once("includes/head.inc.php");
  //regional preload content
  //not yet included.
  ?>
<script type='text/javascript' src="/scripts/general.js">
//<![CDATA[
//]]>
</script>
  <meta name="generator" content="Bluefish 1.0.5"/>
  <meta http-equiv="Content-Type" content=
  "text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/styles/nnlm.css"
  media="all" /><!-- stylesheet placeholders for future use -->
  <link rel="stylesheet" type="text/css" href=
  "/styles/nnlm.screen.css" media="screen" />
  <link rel="stylesheet" type="text/css" href=
  "/styles/nnlm.print.css" media="print" />
  <link rel="stylesheet" type="text/css" href="/styles/nnlm_L3.css"
  media="all" /><!-- MODIFY ENTRIES BELOW HERE TO FIT YOUR PAGE -->
  <!-- InstanceBeginEditable name="head" -->

  <title>NNLM Rosters List Testing</title>
  <meta name="author" content="Aron Beal"/>
  <!-- <meta name="description" content=""> -->
  <!-- <meta name="keywords" lang="en-us" content=""> -->
  <!-- <meta name="htdig-keywords" content=""> -->
  <!-- <meta name="htdig-email" content="youremail@address"> -->
  <!-- <meta name="htdig-email-subject" content="This page needs review."> -->
  <!-- <meta name="htdig-notification-date" content="06/01/2222"> -->
  <!--
  <link rel="stylesheet" type="text/css" href="XXX/styles/regional.screen.css"
  media="screen" />
  <link rel="stylesheet" type="text/css" href="XXX/styles/regional.print.css"
  media="print" /> 
  -->
  <!-- InstanceEndEditable -->
</head>

<body onload="createValidationTag(true)">
  <div>
    <!-- Screenreader shortcut -->
    <a href="#skipnav"><img src="/images/x.gif" alt=
    "Skip all navigation and go to page content" width="15" height=
    "1" border="0" /></a>
  </div><?php 
         require_once("includes/top_banner.inc.php"); 
         require_once("includes/top_navigation_L2.inc.php");
         ?>

  <table width="100%" border="0" cellspacing="0" cellpadding="0"
  align="center" bgcolor="#FFFFFF" summary=
  "Table used for layout purposes only.">
    <tr>
      <td class="buffer"><img src="/images/x.gif" height="1" alt=
      "" /></td>

      <td>
        <!-- Anchor for skip nav landing -->
        <a name="skipnav" id="skipnav"></a>

        <div id="main">
          <!-- InstanceBeginEditable name="Content" -->
          <form action="<?php print $_SERVER['PHP_SELF']; ?>" 
				style='background: pink; float: right; padding: 1%; 
				width: 10%;' method="post">
				<strong>Show all lists entries</strong>
			<input type='submit' value="Go" />
			</form>
          <h2>View a List:</h2>
			<form action="<?php print $_SERVER['PHP_SELF']; ?>" method="post">
			List ID (numeric, 1-300):
				<?php print_list('list_id'); ?>
			<input type='hidden' name='action' value='view' />
			<input type='submit' value="Go" />
			</form>
			<h2>Add a List Value:</h2>
			<form action="<?php print $_SERVER['PHP_SELF']; ?>" method="post">
				List pair to add:
					<?php
					print_list('parent');
					?>
				=>
					<?php
					print_list('child');
					?>
				<input type='hidden' name='action' value='add' />
			<input type='submit' value="Go" />
			</form>
			
			<?php 
			if(@isset($_REQUEST['action'])){
				switch($_REQUEST['action']){
				case 'view':
					$listval = (isset($_REQUEST['list_id']) &&
					preg_match("|^\d+$|", $_REQUEST['list_id'])) ?
					$_REQUEST['list_id'] : 0;
					print_ID($listval);
					break;
				case 'add':
					$parent = (isset($_REQUEST['parent']) &&
					preg_match("|^\d+$|", $_REQUEST['parent'])) ?
					$_REQUEST['parent'] : false;
					$child = (isset($_REQUEST['child']) &&
					preg_match("|^\d+$|", $_REQUEST['child'])) ?
					$_REQUEST['child'] : false;
					if(!$parent || !$child){
						die('illegal value passed for either parent or
						child!  halting!');
					}
					if($parent == $child){
						print('<p style="color: red;">Cannot add a list to itself!</p>');
						break;
					}
					DB::query("
						INSERT IGNORE INTO rosters.lists 
							(ListID, ListMemberTable, ListMemberTableID)
						VALUES ($parent, 'list_descriptions', $child);
					", 'inserter');
					?><h1>INSERT performed.  Reachable from node <?php 
						print $parent; ?>:</h1><?php
					print_ID($parent);
					break;
				default:
				}
			}
			else{
				DB::query("
					SELECT 
						ListID, ListMemberTableID
					FROM rosters.lists 
					WHERE ListMemberTable = 'list_descriptions'
					ORDER BY ListID, ListMemberTableID
				");
				$output = array();
				while($row = DB::getResultRow()){
					list($parent, $child) = $row;
					if(!isset($output['@'.$parent])){
						$output['@'.$parent] = array();
					}
					$output['@'.$parent][]= $child;
				}
				?><h1>Output: All Lists</h1><pre><?php
				foreach($output as $k=>$v){
					print $k." => ";
					if(is_array(@$v)){
						print implode(",", $v);
					}
					print "\n";
				}
						
				?></pre>
				<?php 
			} ?>
          <!-- InstanceEndEditable -->
        </div>
      </td>

      <td class="buffer"><img src="/images/x.gif" height="1" alt=""
      border="0" /></td>
    </tr>
  </table><?php require_once('includes/footer.inc.php');?>
</body>
<!-- InstanceEnd --></html>
