
.x-corners-bwrap {
    background: transparent url(/rosters/images/corners_tl.png) no-repeat 0 0;
    border: 2px solid #2A3A89;
    border-width: 2px 0 2px 2px;
}
.active .menulabel{
    color: black;
    font-weight: bold;
}
.x-corners-body {
    background: transparent url(/rosters/images/corners_bl.png) no-repeat 0 bottom;
}
