.error {
    color: red;
    padding-left: 20px;
    background-position: center left;
    background-repeat: no-repeat;
}

#msg-div {
    position: absolute;
    left: 35%;
    top: 10px;
    width: 30%;
}

.delete_link {
    float: right;
    margin: 5px;
    background-color: #fee;
    border-radius: 3px;
    border: 1px solid #eee;
    padding: 4px;
    a {
        color: #300;
        text-decoration: none;
        font-style: italic;
    }
    &:hover {
        background-color: #fdd;
    }
}

.x-grid3-cell-inner, .x-grid3-hd-inner, button.x-btn-text {
    white-space: normal;
    /* changed from nowrap */
}

.rostersMenuPanel .x-panel-header {
    background-color: white;
}

div.search-item {
    p {
        padding: 5px;
        background-color: #eee;
        border: 0;
        &:hover {
            background-color: #fff;
            border: 0;
        }
    }
}