
.account_add
{
	background-image:url("//nnlm.gov/rosters/images/icons/account_add.png");
}

.application_form
{
	background-image:url("//nnlm.gov/rosters/images/icons/application_form.png");
}

.application_osx_terminal
{
	background-image:url("//nnlm.gov/rosters/images/icons/application_osx_terminal.png");
}
.application_view_tile
{
	background-image:url("//nnlm.gov/rosters/images/icons/application_view_tile.png");
}

.arrow_left
{
	background-image:url("//nnlm.gov/rosters/images/icons/arrow_left.png");
}
.arrow_right
{
	background-image:url("//nnlm.gov/rosters/images/icons/arrow_right.png");
}
.book
{
	background-image:url("//nnlm.gov/rosters/images/icons/book.png");
}

.bomb
{
	background-image:url("//nnlm.gov/rosters/images/icons/bomb.png");
}

.building_add
{
	background-image:url("//nnlm.gov/rosters/images/icons/building_add.png");
}

.building_delete
{
	background-image:url("//nnlm.gov/rosters/images/icons/building_delete.png");
}

.bullet_add
{
	background-image:url("//nnlm.gov/rosters/images/icons/bullet_add.png");
}

.bullet_wrench
{
	background-image:url("//nnlm.gov/rosters/images/icons/bullet_wrench.png");
}

.bullet_key
{
	background-image:url("//nnlm.gov/rosters/images/icons/bullet_key.png");
}

.chart_organization
{
	background-image:url("//nnlm.gov/rosters/images/icons/chart_organization.png");
}
.cog
{
	background-image:url("//nnlm.gov/rosters/images/icons/cog.png");
}
.comment
{
	background-image:url("//nnlm.gov/rosters/images/icons/comment.png");
}
.computer_key{
	background-image:url("//nnlm.gov/rosters/images/icons/computer_key.png");
}
.computer
{
	background-image:url("//nnlm.gov/rosters/images/icons/computer.png");
}
.database_go
{
	background-image:url("//nnlm.gov/rosters/images/icons/database_go.png");
}
.disk
{
	background-image:url("//nnlm.gov/rosters/images/icons/disk.png");
}

.docline_clear
{
	background-image:url("//nnlm.gov/rosters/images/icons/docline_clear.png");
}

.docline_override
{
	background-image:url("//nnlm.gov/rosters/images/icons/docline_override.png");
}
.external
{
	background-image:url(http://nnlm.gov/icons/external_link_icon.gif);
}
.folder
{
	background-image:url("//nnlm.gov/rosters/images/icons/folder.png");
}

.folder_user
{
	background-image:url("//nnlm.gov/rosters/images/icons/folder_user.png");
}

.globe
{
	background-image:url("//nnlm.gov/rosters/images/icons/globe.png");
}

.google
{
	background-image:url("//nnlm.gov/images/social_networking/google_16.png");
}

.bullet_help, .help
{
	background-image:url("//nnlm.gov/rosters/images/icons/help.png");
}

.key_add
{
	background-image:url("//nnlm.gov/rosters/images/icons/key_add.png");
}

.key_delete
{
	background-image:url("//nnlm.gov/rosters/images/icons/key_delete.png");
}
 
.lightning
{
	background-image:url("//nnlm.gov/rosters/images/icons/lightning.png");
}
.magnifier
{
	background-image:url("//nnlm.gov/rosters/images/icons/magnifier.png");
}
.paintcan
{
	background-image:url("//nnlm.gov/rosters/images/icons/paintcan.png");
}
.pencil
{
	background-image:url("//nnlm.gov/rosters/images/icons/pencil.png");
}
.report
{
	background-image:url("//nnlm.gov/rosters/images/icons/report.png");
}

.script
{
	background-image:url("//nnlm.gov/rosters/images/icons/script.png");
}

.script_eye
{
	background-image:url("//nnlm.gov/rosters/images/icons/script_eye.png");
}

.script_add
{
	background-image:url("//nnlm.gov/rosters/images/icons/script_add.png");
}

.script_edit
{
	background-image:url("//nnlm.gov/rosters/images/icons/script_edit.png");
}

.script_gear
{
	background-image:url("//nnlm.gov/rosters/images/icons/script_gear.png");
}
.server
{
	background-image:url("//nnlm.gov/rosters/images/icons/server.png");
} 
.server_database
{
	background-image:url("//nnlm.gov/rosters/images/icons/server_database.png");
}    
.server_database_over
{
	background-image:url("//nnlm.gov/rosters/images/icons/server_database_over.gif");
}
.server_save
{
	background-image:url("//nnlm.gov/rosters/images/icons/server_save_icon.png");
}
.server_cancel
{
	background-image:url("//nnlm.gov/rosters/images/icons/server_cancel_icon.png");
}
.star
{
	background-image:url("//nnlm.gov/rosters/images/icons/star.png");
}

.table_multiple
{
	background-image:url("//nnlm.gov/rosters/images/icons/table_multiple.png");
}
.tag_blue
{
	background-image:url("//nnlm.gov/rosters/images/icons/tag_blue_add.png");
}
.tag_blue_add
{
	background-image:url("//nnlm.gov/rosters/images/icons/tag_blue_add.png");
}

.tag_blue_delete
{
	background-image:url("//nnlm.gov/rosters/images/icons/tag_blue_delete.png");
}

.user
{
	background-image:url("//nnlm.gov/rosters/images/icons/user.png");
}

.user_add
{
	background-image:url("//nnlm.gov/rosters/images/icons/user_add.png");
}

.user_edit
{
	background-image:url("//nnlm.gov/rosters/images/icons/user_edit.png");
}

.wikilink
{
	background-image:url("//nnlm.gov/rosters/images/icons/wiki_link.png");
}

.world_go
{
	background-image:url("//nnlm.gov/rosters/images/icons/world_go.png");
}

.wand
{
	background-image:url("//nnlm.gov/rosters/images/icons/wand.png");
}
.wrench
{
	background-image:url("//nnlm.gov/rosters/images/icons/wrench.png");
}