.listTab {
    background-image: url(/rosters/images/icons/script_edit.png);
}

.gridList {
    .title {
        display: block;
        border-bottom: 1px dotted #2A3A89;
        font-weight: bold;
        color: #2A3A89;
    }
    .metadata {
        font-weight: normal;
        color: #666;
    }
    .description {
        font-weight: normal;
    }
}

.listSearch {
    background-image: url(/rosters/images/icons/magnifier.png);
}

.listDetails {
    background-image: url(/rosters/images/icons/script_eye.png);
}

.listcontents {
    width: 90%;
    line-height: 12pt;
    .title {
        font-weight: bold;
        line-height: 12pt;
        padding: 5px 0 5px 20px;
    }
}

.listdescription {
    background: white;
    border: 1px dotted gray;
    padding: 5px;
    .description {
        color: #333;
    }
    .title {
        margin: 10px 0;
    }
}

button.addToList {
    background-image: url(/rosters/images/icons/script_add.png);
}

button.deleteList {
    background-image: url(/rosters/images/icons/delete.png);
}

.listAdd {
    background-image: url(/rosters/images/icons/add.png);
}

.listAddPerson, button.listAddPerson {
    background-position: left bottom;
    background-image: url(/rosters/images/icons/user_add.png);
}

.listAddList, button.listAddList {
    background-position: left bottom;
    background-image: url(/rosters/images/icons/script_add.png);
}

.removeFromList {
    background: transparent url(/rosters/images/icons/script_delete.png) no-repeat;
}

.list_subpanel {
    padding: 3px;
    background-color: #2A3A89;
}