<h1 class="banner">
	Add new list wizard
</h1>
<h2>
	Step 1: basic information
</h2>
<p>
	You are about to create a new list. Lists in this system are designed to be used to display organized structures of people and libraries on public webpages. For more about them, see <a class="wikilink" href="https://staff.nnlm.gov/wiki/Rosters_User_Documentation#Lists">the documentation in the Staff Wiki</a>.
</p>
<p>
	This wizard will walk you through the basic steps of creating a new list. The wizard will only ask for basic information; you will have more opportunities to fill out user content after the wizard is complete.
</p>
<p>
	Enter some basic information for this new list. The minimally required entries are title, description, and start date.  The start date will be today's date, by default.
</p>         
