<h1 class="banner">Add new list wizard</h1>

<h2>Step 3: Save Changes</h2>

<p>You have successfully completed the new list wizard! Choosing
'Finish' or 'Save Changes' will create a new list using the information you have
entered. It will also close this tab and open the new list in a
separate tab panel, where you can modify the list contents.</p>
